{layout name="layout" /}
<link rel="stylesheet" href="__STATIC__/css/font-awesome.min.css">
<link rel="stylesheet" href="__STATIC__/css/admin-table.css">
<style type="text/css">
.top {
    margin-top: 15px;
}
</style>
<div class="col-xs-12 top">
    <div class="table-responsive">
		<table id="sample-table-1" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>
						编号
					</th>
					<th>
						活动名称
					</th>
					<th>
						发起人
					</th>
					<th>
						活动开始时间
					</th>
					<th>
						活动结束时间
					</th>
					<th>
						活动人数
					</th>
					<th>
						操作
					</th>
				</tr>
			</thead>
			{if $num}
			{foreach $list as $k=>$v}
			<tbody>
				<tr>
					<td>
						{$v['activityid']}
					</td>
					<td>
						<a href="{:url('activity/showAct',['activityid'=>$v['activityid']])}" class="deep_blue_14" style="">{$v['title']}</a> <br />
					</td>
					<td>
						{$v->stus->username}
					</td>
					<td>
						{$v['activitytime']|date="Y-m-d H:i",###}
					</td>
					<td>
						{$v['activityendtime']|date="Y-m-d H:i",###}
					</td>
					<td>
						{$v['number']}
					</td>
					<td>	
						<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
	                        <!-- 审核 -->
                            <a class="blue" href="{:url('activity/showAct',['activityid'=>$v['activityid']])}" title="审核">
                                <i class="icon-check bigger-140"></i>
                            </a>
	                    </div>			
					</td>
				</tr>
			</tbody>
			{/foreach}
			<!-- <div>{$list->render()}</div>-->
			{else}
			<tbody>
				<tr>					
					<td colspan = "7"><center>很抱歉，没有待审核活动！</center></td>	
				</tr>
			</tbody>
			{/if}
		</table>
	</div>
</div>
	