{layout name="layout" /}
<link rel="stylesheet" href="__STATIC__/css/event.css">
<style type="text/css">
  #comments_list .one_cmt_right{width:780px}
  #comment_form_box .comment_form{width:700px;_width:600px}
  #cmt_content{width:790px}
.left-30 {
  margin-left: 30px;
}
</style>
<div class="container" id="body">
  <div class="clear"></div> 
  <!-- event/view:_body -->
  {if !empty($list)}
    <div class="view_name">
      <span class="left-30">{$list['title']}</span>            
      <div class="join">
        {if $list['remainday']=="结束"}
          <input type="button"  value="活动已结束"  class="btn red"  disabled="disabled" id="event_finish"/>
        {else}
          {if $list['remainday']=="进行中"}
      	    <input type="button"  value="活动正在进行"  class="btn green"  disabled="disabled" id="event_finish"/>
          {else}
          	{if !empty($userid)} 
          		
          		{if $list['registerNumber']<$list['number']}
          			{if count($registerlist)==0}
          				<button type="button"  value="活动报名"  class="btn btn-info btn-default"  id="event_finish" style="width:80px;"><a href="{:url('activity/joinActivity',['activityid'=>$list['activityid'],'userid'=>$userid])}">活动报名</a></button>
          		 	{else}
          		 		<?php $flag = 0; ?>
          		 		{foreach $registerlist as $k=>$v}
	            			 {if $v['applicantid']==$userid}
	            			 	<?php $flag = 1; ?>
		            			
		            			<?php break; ?>
		            		{else}
		            			<?php $flag = 0; ?>
		            			
	            			{/if}
	             		{/foreach}
	             		{if $flag}
	             			<input type="button"  value="您已报名"  class="btn red"  disabled="disabled" id="event_finish"/>
	             		{else}
	             			<button type="button"  value="活动报名"  class="btn btn-info btn-default"  id="event_finish" style="width:80px;"><a href="{:url('activity/joinActivity',['activityid'=>$list['activityid'],'userid'=>$userid])}">活动报名</a></button>
	             		{/if}	
	             	{/if}
          		{else}
          			<input type="button"  value="人数已满"  class="btn red"  disabled="disabled" id="event_finish"/>
          		{/if}
          	{else}
          		<div style="color:#999;font-size:12px; font-weight: normal">您还没有登录，请<a href="#modal-container-879035" data-toggle="modal" id="flogin_btn">登录</a>后报名！
          		</div>
        		{/if}
      	  {/if}
        {/if}
      </div>
    </div>
    <div class="view_title"><span class="middle"><i class="icon-file bigger-120"></i></span>&nbsp;基本信息</div>
    <div class="view_box">
      <b>发起：</b><a href="{:url('stu/findActLeader',['userid'=>$list->stus->userid])}">{$list->stus->username} </a><br>
      <b>时间：</b>{$list['activitytime']|date="Y-m-d H:i",###}&nbsp;~{$list['activityendtime']|date="Y-m-d H:i",###}<br>
      <!-- <b>所属：</b><a href="/aa_home?id=36" title="进入校友会主页">绍兴浙江大学校友会</a><br> -->
      <b>地址：</b>{$list['address']}<br>
      <b>人数：</b>{$list['number']}人 已有{$list['registerNumber']}人报名<br>
      {if $list['remainday']=="结束"}
        <b>状态：</b><span style="color:#999">活动已结束，欢迎下次参加～</span><br>
  		{else}
  			{if $list['remainday']=="进行中"}
  				<b>状态：</b><span style="color:#999">正在进行中</span><br>
  			{else}
  				<b>状态：</b><span style="color:#999">{$list['remainday']}活动开始</span><br>
  			{/if}
	    {/if}                 
    </div>
    <div class="view_title"><span class="middle"><i class="icon-file-alt bigger-120"></i></span>&nbsp;活动介绍</div>
    <div class="view_box event_content">
      <p>{$list['content']}<p><br/></p>        
    </div>
    <div class="view_title"><span ><i class="icon-group bigger-120"></i></span>&nbsp;报名信息(已有{$list['registerNumber']}人)</div>            
    <div class="view_box">
    {if !empty($registerlist)}
      <ul style="list-style: none">
      {foreach $registerlist as $k=>$v}
        <li id="sign_user_72610" class="new_user_avatar" >
          <span class="name"><a href="{:url('stu/findActLeader',['userid'=>$v['registe_to_stu']['userid']])}" title="报名1人">{$v['registe_to_stu']['username']}</a></span>
        </li>
      {/foreach}
      </ul>                    
      <div class="clear"></div>
    {/if}
    </div> 
  {/if}                          
</div>
