{layout name="layout" /}
<div id="body" class="container">
  <!--left -->
  <div id="main_left">
    <p><img src="/static/images/event_title.gif"></p>
    <div class="event_title">
      <div style="float: left">
        <form role="form" method="post" action="{:url('activity/findActByType')}" enctype="multipart/form-data">
          <select name="type" onchange="location.href='?type='+this.value">
            <option value="全部活动">全部活动</option>
            <option value="运动健身" >运动健身</option>
            <option value="吃饭逛街" >吃饭逛街</option>
            <option value="座谈沙龙" >座谈沙龙</option>
            <option value="室内娱乐" >室内娱乐</option>
            <option value="户外旅游" >户外旅游</option>
            <option value="周年聚会" >周年聚会</option>
            <option value="艺术欣赏" >艺术欣赏</option>
            <option value="爱心互助" >爱心互助</option>
            <option value="创业大赛" >创业大赛</option>
            <option value="其他" >其他</option>
          </select>
        </form>
      </div>
      <div style="float:right;padding:0px 15px">
          <button type="submit"><a href="{:url('activity/setupact')}">我要发起活动</a></button>
      </div>
    </div>

    <div class="blue_tab" style="margin: 15px 20px">
      <ul>
        <li><a href="{:url('activity/findActByType',['type'=>'全部活动'])}"    class="cur" style="width:80px">所有活动</a></li>
        <li><a href="/event/tags"   style="width:60px">标签</a></li>
      </ul>
    </div>

    <!--活动列表开始-->
    <div id="event_list"> 
      {if !empty($list)}
      {foreach $list as $k=>$v}  
      <div class="event_one">
        <p class="p1"></p>
        <p class="p2">
          <a href="{:url('activity/findActDetail',['activityid'=>$v['activityid']])}" class="deep_blue_14"  target="_blank" style="">{$v['title']}</a> <br />
          <!-- 所属：<a href="/aa_home?id=1">杭州浙江大学校友会</a> &raquo;<a href="/aa_home/eventview?id=1&eid=5260"> </a><br /> --> 
          地址：{$v['address']}<br />
          参与：<a href="/event/view?id=5260&tab=event_slist" title="点击浏览名单">{$v['registerNumber']}</a>人
          <!--  讨论：<a href="/event/view?id=5260&tab=event_comment" title="点击浏览讨论">1</a>条 --> 
        </p>
        <p class="p3">{$v['activitytime']|date="Y-m-d",###}<br>
          <span style="color:#333">{$v['weekday']}</span>
        </p>
        <p class="p4">
          <span style="color:#4D7E05">{$v['remainday']}</span>
        </p>
      </div>
      {/foreach}
      <div>{$list->render()}</div>
      {else}
      <div class="event_one">
        <p class="p1"></p>
        <p class="p2">
          很抱歉，没有任何活动！
        </p>
      </div>
      {/if}
    </div>
  </div>
  <!--//left -->

    <!--right -->
    <div id="sidebar_right">
    <div style="">
        <p class="sidebar_title">快速查找</p>
        <div class="sidebar_box">
            <ul class="sidebar_menus">
                <li><a href="{:url('activity/findActBySeven')}" >未来7天</a></li>
                <li><a href="{:url('activity/findActBytoday')}" >今天</a></li>
                <li><a href="{:url('activity/findActByWeeken')}" >周末</a></li>
                <li><a href="{:url('activity/findActByType',['type'=>'全部活动'])}">所有活动  </a></li>
            </ul>
        </div></div>
    <p class="sidebar_title" style="border-top-width:0">主题活动</p>
    <div class="sidebar_box">
                    <ul class="sidebar_menus">
                                        <li>
                    <a href="http://zuaa.zju.edu.cn/wedding/2017" target="_blank" title="“缘定浙大”校友集体婚礼">“缘定浙大”校友集体婚礼</a>
                    </li>
                                <li>
                    <a href="http://zuaa.zju.edu.cn/news/view?id=5556" target="_blank" title="浙江大学校友总会启动值年校友返校计划">浙江大学校友总会启动值年校友返校..</a>
                    </li>
                                <li>
                    <a href="http://zuaa.zju.edu.cn/news/view?id=6242" target="_blank" title="“聚沙成塔”众筹捐赠活动">“聚沙成塔”众筹捐赠活动</a>
                    </li>
                                <li>
                    <a href="http://www.zuef.zju.edu.cn/hotelClub/" target="_blank" title="酒店行业俱乐部">酒店行业俱乐部</a>
                    </li>
                                <li>
                    <a href="http://zjunion.zjuhz.com/publication?type=1001" target="_blank" title="校友刊物征订投稿">校友刊物征订投稿</a>
                    </li>
                                <li>
                    <a href="http://zuaa.zju.edu.cn/zaec2014/" target="_blank" title="在中国 很世界——第二届浙江大学校友创业大赛">在中国 很世界——第二届浙江大学..</a>
                    </li>
                                <li>
                    <a href="http://zuaa.zju.edu.cn/donate/annual" target="_blank" title="年度捐赠">年度捐赠</a>
                    </li>
                        </ul>
    </div>

    <p class="sidebar_title" style="border-top-width:0">热门标签</p>
    <div class="sidebar_box">
                    <a href="/event?tag=%E7%BE%BD%E6%AF%9B%E7%90%83" >羽毛球</a>&nbsp;&nbsp;
            <a href="/event?tag=%E6%B2%99%E9%BE%99" >沙龙</a>&nbsp;&nbsp;
            <a href="/event?tag=%E5%88%9B%E4%B8%9A" >创业</a>&nbsp;&nbsp;
            <a href="/event?tag=%E7%94%B5%E5%BD%B1" >电影</a>&nbsp;&nbsp;
            <a href="/event?tag=%E8%BF%90%E5%8A%A8" >运动</a>&nbsp;&nbsp;
            <a href="/event?tag=%E4%B9%A6" >书</a>&nbsp;&nbsp;
            <a href="/event?tag=%E6%88%B7%E5%A4%96" >户外</a>&nbsp;&nbsp;
            <a href="/event?tag=%E9%87%91%E8%9E%8D" >金融</a>&nbsp;&nbsp;
            <a href="/event?tag=%E8%AF%BB%E4%B9%A6" >读书</a>&nbsp;&nbsp;
            <a href="/event?tag=%E6%A0%A1%E5%8F%8B" >校友</a>&nbsp;&nbsp;
            <a href="/event?tag=%E7%BE%BD%E6%AF%9B%E7%90%83%E3%80%81%E8%BF%90%E5%8A%A8" >羽毛球、运动</a>&nbsp;&nbsp;
            <a href="/event?tag=%E8%AE%B2%E5%BA%A7" >讲座</a>&nbsp;&nbsp;
            <a href="/event?tag=%E6%B5%99%E5%A4%A7" >浙大</a>&nbsp;&nbsp;
            <a href="/event?tag=%E6%B9%96" >湖</a>&nbsp;&nbsp;
            <a href="/event?tag=%E4%BA%A4%E5%8F%8B" >交友</a>&nbsp;&nbsp;
            <a href="/event?tag=%E5%8D%95%E8%BA%AB" >单身</a>&nbsp;&nbsp;
            <a href="/event?tag=%E6%BB%A8%E6%B1%9F" >滨江</a>&nbsp;&nbsp;
            <a href="/event?tag=%E6%8A%95%E8%B5%84" >投资</a>&nbsp;&nbsp;
            <a href="/event?tag=%E5%81%A5%E8%BA%AB" >健身</a>&nbsp;&nbsp;
            <a href="/event?tag=%E6%8B%9B%E8%81%98" >招聘</a>&nbsp;&nbsp;
            <a href="/event?tag=%E8%A5%BF%E6%B9%96" >西湖</a>&nbsp;&nbsp;
            <a href="/event?tag=%E8%B7%91%E6%AD%A5" >跑步</a>&nbsp;&nbsp;
            <a href="/event?tag=%E5%88%86%E4%BA%AB" >分享</a>&nbsp;&nbsp;
            <a href="/event?tag=%E5%88%9B%E4%B8%9A%E6%B2%99%E9%BE%99" >创业沙龙</a>&nbsp;&nbsp;
            <a href="/event?tag=%E4%BA%B2%E5%AD%90" >亲子</a>&nbsp;&nbsp;
            <a href="/event?tag=%E6%91%84%E5%BD%B1" >摄影</a>&nbsp;&nbsp;
            <a href="/event?tag=%E7%AF%AE%E7%90%83" >篮球</a>&nbsp;&nbsp;
            <a href="/event?tag=%E4%BA%BA%E6%96%87" >人文</a>&nbsp;&nbsp;
            <a href="/event?tag=%E8%81%9A%E4%BC%9A" >聚会</a>&nbsp;&nbsp;
            <a href="/event?tag=%E8%AF%BB%E4%B9%A6%E4%BC%9A" >读书会</a>&nbsp;&nbsp;
        <p class="more"><a href="/event/tags">更多</a></p>
    </div>
    <p class="sidebar_title" style="border-top-width:0">最新活动掠影</p>
    <div class="sidebar_box">

                    <ul class="sidebar_photo img_border">
                                    <li><a href="/album/picIndex?id=6410" title="求是跑马会2017A01号活动 贺百廿求是 跑魔都雄鹰相册"  target="_blank"><img src="/static/upload/pic/201702/12/2946020170212224117534_mini.jpg" width="80" height="60" /></a></li>
                                <li><a href="/album/picIndex?id=6348" title="求是跑马会2016003号活动Big Game 勇不落幕疯狂气垫之城市障碍赛相册"  target="_blank"><img src="/static/upload/pic/201608/01/294602016080123062340_mini.jpg" width="80" height="60" /></a></li>
                                <li><a href="/album/picIndex?id=6240" title="清明节桌游小聚相册"  target="_blank"><img src="/static/upload/pic/201604/07/2946020160407225447660_mini.jpg" width="80" height="60" /></a></li>
                                <li><a href="/album/picIndex?id=6230" title="【侯哥小跑】3月18日滨江万米跑相册"  target="_blank"><img src="/static/upload/pic/201603/16/5239620160316220007143_mini.jpg" width="80" height="60" /></a></li>
                                <li><a href="/album/picIndex?id=6202" title="【求是跑马会】【侯哥小跑】辞旧岁之羊年健康跑 迎新春之猴年希望跑相册"  target="_blank"><img src="/static/upload/pic/201602/06/5239620160206074710331_mini.jpg" width="80" height="60" /></a></li>
                                <li><a href="/album/picIndex?id=6200" title="加拿大浙江大学校友会2016迎新春联欢活动通知相册"  target="_blank"><img src="/static/upload/pic/201602/03/1907120160203041347413_mini.jpg" width="80" height="60" /></a></li>
                        </ul>
        <div class="clear"></div>
    </div>

</div>
<!--//right -->

<div class="clear"></div>

                                                <div class="clear"></div>
            </div>