<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>发起活动</title>
</head>
<body>

<form role="form" method="post" action="{:url('activity/setupact')}" enctype="multipart/form-data">
  <ul>
    <li>
      <label>活动类型<b>*</b>：</label>
      <select class="form-control" name="type" style="width:318px;">
        <option value="运动健身">运动健身</option>
        <option value="吃饭逛街">吃饭逛街</option>
        <option value="室内娱乐">室内娱乐</option>
      </select>
    </li>
    <li>
      <label>活动标题<b>*</b>：</label>
      <input name="title" type="text"  class="form-control" value=""  style="width:318px;"/>
    </li>
    <li>
      <label>活动开始时间<b>*</b>：</label>
      <input name="activitytime" type="text"  class="form-control" value=""  style="width:318px;"/>
    </li>
    <li>
      <label>活动结束时间<b>*</b>：</label>
      <input name="activityendtime" type="text"  class="form-control" value=""  style="width:318px;"/>
    </li>
    <li>
      <label>活动地址<b>*</b>：</label>
      <input name="address" type="text"  class="form-control" value=""  style="width:318px;"/>
    </li>
    <li>
      <label>活动介绍<b></b></label>
      <textarea name="content" class="form-control"  value="" style="height:100px; width:318px"></textarea>
    </li>
    <li>
      <label>活动联系人<b>*</b>：</label>
      <input name="contact" type="text"  class="form-control" value=""  style="width:318px;"/>
    </li>
    <li>
      <label>活动截止报名时间<b></b></label>
      <input name="deadline" type="text"  class="form-control" value=""  style="width:318px;"/>
    </li>
    <li>
      <label>&nbsp;</label>
      <input type="submit" class="btn" value="提交"/>
    </li>
  </ul>
</form></body>
</html>