{layout name="layoutself" /}
<link rel="stylesheet" href="__STATIC__/css/self.css" type="text/css"  />
<!-- <link rel="stylesheet" href="__STATIC__/css/font-awesome.min.css"> -->
<div class="Nsb_layout_r">
	<div class="Nsb_r_title"><a href="/jsxsd/framework/main.jsp">个人中心</a> » 活动信息 » 已报名活动</div>
<!-- 已参加活动 --> 
<br>
<table class="table table-bordered">
				<thead>
					<tr>
						<th>
							序号
						</th>
						<th>
							活动标题
						</th>
						<th>
							活动发起人
						</th>
						<th>
							活动地址
						</th>
						<th>
							开始时间
						</th>
						<th>
							结束时间
						</th>
						
					</tr>
				</thead>
				{if !empty($activities)}
				{foreach $activities as $k=>$v}
				<tbody>
					<tr>
						<td>
							{$v['activityid']}
						</td>
						<td>
							<a href="{:url('activity/findActDetail',['activityid'=>$v['activityid']])}">{$v->registeToAct->title}</a>
						</td>
						<td>
							{$v->registeToAct->stus->username}
						</td>
						<td>
							{$v->registeToAct->address}
						</td>
						<td>
							{$v->registeToAct->activitytime|date="Y-m-d H:i",###}
						</td>
						<td>
							{$v->registeToAct->activityendtime|date="Y-m-d H:i",###}
						</td>
						
					</tr>
				</tbody>
				{/foreach}
				{else}
				<tbody>
				  <tr>
				  <td colspan="6">
				  <center>很抱歉，您没有发起任何活动</center>
				  </td>
				  </tr>
				</tbody>
				{/if}
			</table> 	
	
</div>

