{layout name="layout" /}
<link type="text/css" href="__STATIC__/css/donate.css" rel="stylesheet">
<div class="container" id="body">
  <div class="clear"></div>
  <!-- publication/index:_body -->
	<div id="main_left">
    <p style="font-size: 18px;">&nbsp;&nbsp;校友捐赠</p>
    <div class="donate_intro">
			湘潭大学教育基金会是经湖南省教育厅同意，于2007年12月经湖南省民政厅批准成立的具有独立法人资格的非公募基金会，主要为学校的建设和发展募集资金。其宗旨是为适应国家教育事业发展与改革的需要，接受和管理社会各界的捐赠，服务湘潭大学的建设和发展。本基金会遵守宪法、法律、法规和国家政策，遵守社会道德风尚，为社会公益事业服务。
    </div>

    <p class="donate_title">相关报道</p>
    <div>
			<ul class="con_list">
				{if !empty($news)}
		    {foreach $news as $k=>$t}
				<li>
					<a href="{:url('index/detail',['id'=>$t['articleid']])}" target="_blank">{$t['title']}</a>&nbsp;
					{if $t['img']}<font><i class="icon-picture blue"></i></font>{/if}
					<span>{$t['updatetime']|date="Y-m-d",###}</span>
				</li>
		    {/foreach}
		    {/if}
	    </ul>
    </div>
	</div>
	<!--right -->
  <div id="sidebar_right">
		<!-- 热门点击-->
    <p class="sidebar_title" >热门点击</p>
    <div class="sidebar_box">
			<ul class="ranking">
				{foreach $hits as $k=>$t}
					<li class="maxlength">
						<a href="{:url('index/detail',['id'=>$t['articleid']])}" title="{$t['title']}" target="_blank">{$t['title']}</a>
					</li>
		    {/foreach}				    
			</ul>
    </div>
  	<!-- //热门点击-->
	</div>
	<!--//right -->
	<div class="clear"></div> 
</div>