{layout name="layout" /}
<link type="text/css" href="__STATIC__/css/donate.css" rel="stylesheet">
<div class="container" id="body">
  <div class="clear"></div>
  <!-- publication/index:_body -->
	<div id="main_left">
    <p style="font-size: 18px;">&nbsp;&nbsp;校友捐赠</p>
    <div class="donate_intro">
			校友是浙江大学最宝贵的财富和最可信赖的力量。自新的浙江大学成立以来，来自社会各界捐赠已超过10亿元人民币。其中，约有一半来自于浙大校友捐赠，另一半中很大比例的捐赠由浙大校友牵线搭桥促成。非常感谢广大校友对母校发展事业的大力支持，母校的明天一定会因你们而更辉煌！
    </div>

    <p class="donate_title">相关报道</p>
    <div>
			<ul class="con_list">
				{if !empty($news)}
		    {foreach $news as $k=>$t}
				<li>
					<a href="{:url('index/detail',['id'=>$t['articleid']])}" target="_blank">{$t['title']}</a>&nbsp;
					{if $t['img']}<font><i class="icon-picture blue"></i></font>{/if}
					<span>{$t['updatetime']|date="Y-m-d",###}</span>
				</li>
		    {/foreach}
		    {/if}
	    </ul>
    </div>
	</div>
	<!--right -->
  <div id="sidebar_right">
		<!-- 热门点击-->
    <p class="sidebar_title" >热门点击</p>
    <div class="sidebar_box">
			<ul class="ranking">
				{foreach $hits as $k=>$t}
					<li class="maxlength">
						<a href="{:url('index/detail',['id'=>$t['articleid']])}" title="{$t['title']}" target="_blank">{$t['title']}</a>
					</li>
		    {/foreach}				    
			</ul>
    </div>
  	<!-- //热门点击-->
	</div>
	<!--//right -->
	<div class="clear"></div> 
</div>