{layout name="layout" /}
<div class="container btm1 nav1">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li class="active">
					 <a href="file:///C:/Users/dellpc/Desktop/io/leesijia/index.html">首页</a>
				</li>
				<li>
					 <a href="file:///C:/Users/dellpc/Desktop/io/leesijia/News.html">新闻公告专区</a>
				</li>
				<li>
					 <a href="file:///C:/Users/dellpc/Desktop/io/leesijia/Recruitment.html">招聘信息专区</a>
				</li>
				<li>
					 <a href="file:///C:/Users/dellpc/Desktop/io/leesijia/sharing.html">资料共享专区</a>
				</li>
				<li>
					 <a href="file:///C:/Users/dellpc/Desktop/io/leesijia/events.html">校友活动专区</a>
				</li>
				<li>
					 <a href="file:///C:/Users/dellpc/Desktop/io/leesijia/Forum.html">论坛天地</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column btm">
			<div class="page-header">
				<h1>
					新闻公告专区 <small>News bulletin</small><p class="text-right"><a class="btn btn-primary" href="#">更多</a></p>
				</h1>
			</div>
			<div class="row">
			{if !empty($items_news)}
			{foreach $items_news as $k=>$t}
				<div class="col-md-4">
					<div class="thumbnail">
						<img class="img-responsive img-size" alt="{$t['title']}" src="__STATIC__/uploads/{$t['imagepath']}" />
						<div class="caption">
							<h3>
								{$t['title']}
							</h3>
							<p>
								{$t['content']|strip_tags}
							</p>
							<p>
								 <a class="btn btn-primary" href="#">详细</a> 
							</p>
						</div>
					</div>
				</div>
			{/foreach}
			{/if}
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column btm">
			<div class="page-header">
				<h1>
					招聘信息专区 <small>Recruitment Information</small><p class="text-right"><a class="btn btn-primary" href="#">更多</a></p>
				</h1>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="__STATIC__/image/image1.jpg" />
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								 <a class="btn btn-primary" href="#">Action</a> 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="__STATIC__/image/image1.jpg" />
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								 <a class="btn btn-primary" href="#">Action</a> 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="__STATIC__/image/image1.jpg" />
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								 <a class="btn btn-primary" href="#">Action</a> 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="btm jumbotron">
				<div class="page-header">
				<h1>
					资料共享专区 <small>Data sharing area</small><p class="text-right"><a class="btn btn-primary" href="#">更多</a></p>
				</h1>
				</div>
			<h2>
				css大全
			</h2>
			<p>
				这里有你最需要的资料，点开看吧。
			</p>
			<p>
				 <a class="btn" href="#">查看详细»</a>
			</p>
			<h2>
				三天学会office
			</h2>
			<p>
				傻鸟，是不是连打字都不会，快来学吧。
			</p>
			<p>
				 <a class="btn" href="#">查看详细»</a>
			</p>
			<h2>
				面试经验谈
			</h2>
			<p>
				八戒，你这呆子，又被拒绝了多少次，快来和师兄学学。
			</p>
			<p>
				 <a class="btn" href="#">查看详细»</a>
			</p>
		</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="btm jumbotron">
				<div class="page-header">
				<h1>
					校友活动专区 <small>Alumni events</small><p class="text-right"><a class="btn btn-primary" href="#">更多</a></p>
				</h1>
			</div>
			<h2>
				一起去西湖浪
			</h2>
			<p>
				下午三点，不见不散。
			</p>
			<p>
				 <a class="btn" href="#">查看详细»</a>
			</p>
			<h2>
				凤凰苗寨约起
			</h2>
			<p>
				拿好随身物品准备下车。
			</p>
			<p>
				 <a class="btn" href="#">查看详细»</a>
			</p>
			<h2>
				我们一起去衡山看日出吧
			</h2>
			<p>
				顺便把手机丢了再买一个。
			</p>
			<p>
				 <a class="btn" href="#">查看详细»</a>
			</p>
		</div>
			</div>
		</div>
	</div>
</div>