{layout name="layout" /}
<style type="text/css">
	.row {
		margin-right: 0px;
		margin-left: 0px;
	}
	.margin {
		padding-right: 0px;
    padding-left: 0px;
	}
	.carousel-img {
		height: 245px;
		width: 100%;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    height: 245px;
	}
	.carousel-control {    
    width: 7%;
    filter: alpha(opacity=30);
    opacity: .3;
	}	
	.carousel-indicators {
     bottom: 0px; 
     margin-bottom: 0px;
  }
  .jq {
	  overflow:hidden;;/* 内容超出宽度时隐藏超出部分的内容 */
		text-overflow:ellipsis;;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
		white-space:nowrap;/* 不换行 */
  }
  .padding-tb-8 {
  	padding: 8px 0px;
  }
  .padding-tb-4 {
  	padding: 4px 0px;
  }
</style>

<div class="container" id="body">
  <!-- main/index:_body -->
	<!--body -->
	<div class="row">
	  <!--focus news -->
	  <!--top_topic -->
	  <div id="banner" class="col-md-12 margin">
	  	<div class="carousel slide" id="carousel-265387" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-265387" class="active">
					</li>
					<li data-slide-to="1" data-target="#carousel-265387">
					</li>
					<li data-slide-to="2" data-target="#carousel-265387">
					</li>
				</ol>
				<div class="carousel-inner">
					{if !empty($items_pic)}
      		{foreach $items_pic as $k=>$t}
      			{if $k == 0}
						<div class="item active">
							<a href="{:url('index/detail',['id'=>$t['articleid']])}"><img alt="{$t['title']}" src="__STATIC__/uploads/{$t['imagepath']}" class="carousel-img" /></a>
						</div>
						{else}
						<div class="item">
							<a href="{:url('index/detail',['id'=>$t['articleid']])}"><img alt="{$t['title']}" src="__STATIC__/uploads/{$t['imagepath']}" class="carousel-img" /></a>						
						</div>
						{/if}
          {/foreach}
          {/if}
				</div> 
				<a class="left carousel-control" href="#carousel-265387" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> 
				<a class="right carousel-control" href="#carousel-265387" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
      <!-- <div style="color: #999">
        <img src="/static/images/loading.gif" style="border-width: 0;vertical-align: middle">
      </div> -->
    </div>
  	<!--//focus news -->
    <div class="clear"></div>
	</div>
	<!--//row1 -->
	<!--row2:alumni、news... -->
	<div class="row">
		<div id="news" class="col-md-9 margin">
    	<div class="con_list a14">
      	<ul> 
      		{if !empty($items_news)}
      		{foreach $items_news as $k=>$t}
      			{if $k == 0}     		
      				<h1><a href="{:url('index/detail',['id'=>$t['articleid']])}" title="{$t['title']}" target="_blank" >{$t['title']}</a></h1>
      				<div class="des jq">简述：{$t['abstract']}&nbsp;&nbsp;<div><a href="{:url('index/detail',['id'=>$t['articleid']])}" style="color:#666;float: right;">全文</a></div></div> 
      			{else}         
		          <li>
		          	<a href="{:url('index/detail',['id'=>$t['articleid']])}" title="{$t['title']}" target="_blank" >{$t['title']}</a>&nbsp;{if $t['img']}<font><i class="icon-picture blue"></i></font>{/if}<span>{$t['updatetime']|date="m-d",###}</span>
		          </li>
          	{/if}
          {/foreach}
          {/if}
        </ul>
      	<p class="more" style="margin:10px 0"><a href="{:url('index/news')}">>>更多</a></p>
  		</div>
    </div>
    <!--//end news-->  
    <div id="qiushi" class="col-md-3 margin" style="
    margin-left: 11px;">
    	<p class="sidebar_title" style="border-width:1px 0">主题活动</p>
    	<div style="padding:10px">
      	<div id="zhutihuodong" style="overflow: hidden">
          <ul>
          	{if !empty($items_activity)}
      			{foreach $items_activity as $k=>$t}
            	<li class="jq padding-tb-8"><a href="#" target="_blank">{$t['title']}</a></li>
            {/foreach}
          	{/if}
          </ul>
      	</div>
				<p class="more" style="margin:10px 5px"><a href="#">>>更多</a></p>
    	</div>
		</div>
	  <!--//Professor alumni-->
	  <div class="clear"></div>
	</div>
	<!--//row2 -->
	<!--row4 -->
	<div id="row4" style="margin-top:10px">
	  <div class="left">
	    <!--new alumni-->
	    <p class="sidebar_title" style="border-width:1px">招聘专区</p>
	    <div id="new_alumni">
	      <ul style="height: 296px">
      	{if !empty($items_employment)}
  			{foreach $items_employment as $k=>$t}
        	<li class="jq padding-tb-4"><a href="#" target="_blank">{$t['title']}</a></li>
        {/foreach}
      	{/if}
      	</ul>	      	      
	      <p class="more" style="margin:10px 0"><a href="{:url('index/invite')}">>>更多</a></p>
	    </div>
			<!--//new alumni-->
  	</div>
	  <div class="fcenter">
	    <div id="bbs_tabs">
	      <ul>
	        <li><a href="javascript:void(0)" id="bbstab1" class="cur">热门话题</a></li>
	      </ul>
	    </div>
	    <div id="bbscontent_bbstab1" style="height: 330px">
	      <table border="0" id="home_bbs" width="100%" cellspacing="0" cellpadding="0">
	        <tbody>
	        	{if !empty($items_topic)}
  					{foreach $items_topic as $k=>$t}
  						{if $k%2 == 0}
	  						<tr>
			            <td><a href="{:url('forum/topic')}?id={$t['topicid']}" target="_blank" title="{$t['title']}" class="unit_title">{$t['title']}</a>
			            </td>
			            <td class="center">{$t['stu']['username']}</td>
		          	</tr>
	          	{else}
	          		<tr class="two">
			            <td><a href="{:url('forum/topic')}?id={$t['topicid']}" target="_blank" title="{$t['title']}" class="unit_title">{$t['title']}</a>
			            </td>
			            <td class="center">{$t['stu']['username']}</td>
		          	</tr>
	          	{/if}
  					{/foreach}
      			{/if}
	        </tbody>
	      </table>
	    </div>
	    <div id="bbscontent_bbstab2" style="display:none;height: 330px">
	      <table border="0" id="home_bbs" width="100%" cellspacing="0" cellpadding="0">
	        <tbody>
	        </tbody>
	      </table>
	    </div>
	    <p class="more" style="margin:10px"><a href="{:url('forum/index')}">>>更多</a></p>
	    <!--//bbs-->
	  </div>

	  <div class="fright">
	    <p class="sidebar_title" style="border-width:1px">资料专区</p>
	    <div class="sidebar_box" style="background:#F6FAFB">
	      <div id="marquee2">
	        <ul class="donate_tks">
	        	{if !empty($items_info)}
		  			{foreach $items_info as $k=>$t}
		        	<li class="jq padding-tb-4"><a href="#" target="_blank">{$t['title']}</a></li>
		        {/foreach}
		      	{/if}
	        </ul>
	      </div>
	      <p class="more" style="margin-top:10px"><a href="{:url('index/donate')}">>>更多</a></p>
	    </div>
	  </div>
	  <div class="clear"></div>
	</div>
	<!--//row4 -->

	<!--more links-->
	<div id="more_links">
  	<div class="text">
    	校内链接：      
    	<a href="http://www.zju.edu.cn" target="_blank">浙江大学</a>&nbsp;|&nbsp;      <a href="http://www.acv.zju.edu.cn" target="_blank">浙江大学档案馆</a>&nbsp;|&nbsp;      <a href="http://www.news.zju.edu.cn/" target="_blank">求是新闻网</a>&nbsp;|&nbsp;      <a href="http://www.qsc.zju.edu.cn/" target="_blank">求是潮</a>&nbsp;|&nbsp;      <a href="http://grs.zju.edu.cn/" target="_blank">浙江大学研究生院</a>&nbsp;|&nbsp;      <a href="http://www.zucc.edu.cn/" target="_blank">浙江大学城市学院</a>&nbsp;|&nbsp;      <a href="http://www.career.zju.edu.cn/" target="_blank">浙江大学就业指导网与服务中心</a>&nbsp;|&nbsp;      <a href="http://bgpt.zdzsc.zju.edu.cn/" target="_blank">浙江大学本科生招生网</a>&nbsp;|&nbsp;      <a href="http://zdgh.zju.edu.cn/" target="_blank">浙江大学工会</a>&nbsp;|&nbsp;    <br/>
    	校外链接：      
    	<a href="http://www.chinanpo.gov.cn/" target="_blank">中国社会组织网</a>&nbsp;|&nbsp;      <a href="http://www.alumni-cn.org/" target="_blank">中国高等教育学会校友工作研究分会</a>&nbsp;|&nbsp;      <a href="http://www.pku.edu.cn/" target="_blank">北京大学</a>&nbsp;|&nbsp;      <a href="http://www.tsinghua.edu.cn/qhdwzy/index.jsp" target="_blank">清华大学</a>&nbsp;|&nbsp;      <a href="http://www.fudan.edu.cn/" target="_blank">复旦大学</a>&nbsp;|&nbsp;      <a href="http://www.nankai.edu.cn/" target="_blank">南开大学</a>&nbsp;|&nbsp;      <a href="http://www.xmu.edu.cn/" target="_blank">厦门大学</a>&nbsp;|&nbsp;      <a href="http://www.sjtu.edu.cn/" target="_blank">上海交通大学</a>&nbsp;|&nbsp;      <a href="http://www.tju.edu.cn/" target="_blank">天津大学</a>&nbsp;|&nbsp;      <a href="http://www.nju.edu.cn/" target="_blank">南京大学</a>&nbsp;|&nbsp;      <a href="http://www.sdu.edu.cn/" target="_blank">山东大学</a>&nbsp;|&nbsp;      <a href="http://www.sysu.edu.cn/" target="_blank">中山大学</a>&nbsp;|&nbsp;  
    </div>
	</div>
	<!--//more links-->
	<!--//body -->
	<div class="clear"></div>
</div>