#body{ width: 96%; min-width: 980px;background: #FFF; margin:0px auto; padding: 10px 10px 30px 10px;_margin-top:-3px; }
#zuaa_bg{ width: 100%; margin: 0px auto; background: url(../image/top_zju_bg.jpg) no-repeat 0 0;height: 97px}
#header{ width: 100%;min-width: 950px;}
.blue_tab a{ display: inline-block;  height:25px; line-height: 25px; padding: 0px 18px;background: #E3EEF8; border:1px solid #E3EEF8; border-bottom: 1px solid #CEE1EE;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;}

#focus{ float: left;width:362px; height: 280px}
#hot_topic{ float: right; width: 541px}
#hot_topic .title{ margin-top: 10px; height:20px;color: #1985CF; border-bottom: 1px solid #DEE9F4; font-size: 12px}
#hot_topic ul{ margin: 10px 0}
#hot_topic li{ height: 25px}
#hot_topic li a{ color: #1985CF; height: 25px;}
#hot_topic .address{ color: #999; padding: 0px 3px}
#hot_topic .address a{ color: #999}
#hot_topic .date{ color: #999; padding: 0px 5px}

#notice{ width: 700px; float: left}
#post_button{ width: 130px; float: right}

.forum_title{ height: 30px; line-height: 30px; background: #F0F9FF url(../image/ico_arrow.gif) no-repeat 10px 12px; border-width:1px 0; border-color: #D6E8F4;  border-style: solid;font-size: 12px; color: #1B72AF; font-weight: bold; padding-left:20px }
.forum_title a:link,.forum_title a:visited{font-size: 14px; color: #1B72AF; font-weight: bold;}
.forum_box_list{}
.forum_line{ clear:  both; width: 100%;background: url(../image/dotted_line_bg2.gif) repeat-x bottom; height: 2px}
.forum_box{ width: 304px; float: left; margin:15px 0}
.forum_box .left{ width: 55px; text-align: center; float: left;}
.forum_box .left img{ margin-top: 15px}
.forum_box .right{ width: 240px; float: left; color: #666666; line-height: 1.6em; text-align: left}
.forum_box .name{ color: #333; font-weight: bold}
.forum_box .today_count{ color: #f60}
.forum_box .last_topic{ color: #6688BB}

.online_user{ padding: 15px; line-height: 1.6em}
.online_user a{ background: url(../image/online.gif) no-repeat 0 0; padding-left: 15px; ;color: #666666; margin-right: 10px}

/* list*/
#bbs_box_title{background: url(../image/omsg.gif) no-repeat left top;font-weight: bold;font-size:14px;height: 22px;padding-top: 10px;padding-left: 55px;margin-top: 10px;}
#bbs_table{  border-width: 0;}
#bbs_table th{ height: 35px; background: #F5F5F5; border-top: 1px solid #eee; border-bottom: 1px solid #eee; font-weight: normal;color: #555}
#bbs_table th span{font-weight: bold}
#bbs_table td{ border-bottom: 1px solid #eeeeee; height: 42px; text-align: center;}
#bbs_table .highlight td{ background:#edf5fc;border-bottom: 1px solid #dfecf5;}
#bbs_table .clearhighlight td{ background:#fff}
#bbs_table .title:link,#bbs_table .title:visited{font-size: 14px;color: #07519A;font-weight: normal}
#bbs_table .aa_link:link,#bbs_table .aa_link:visited{ font-size: 14px}

/*viewPost*/
#unitPost{ line-height: 180%; padding: 15px }
#unitPostContent{ font-size: 14px; line-height: 200%; }
#unitPostContent img{ padding: 5px; border: 1px dotted #ccc; margin: 10px; }
.bbs_tool{ text-align: right; padding: 0px 20px}
.same_height{ padding-bottom: 10000px;margin-bottom:-10000px;display:inline;}
.bbs_post_reply_bar{ text-align: right; height: 35px}
.unit_table{width: 100%;border:1px solid #D3E3EA;border-bottom-width:2px; text-align: left;}
.unit_table .topic_topbar{border-bottom:1px solid #D3E3EA; background: #ECF6FB; padding: 10px 15px; color: #1B72AF; margin-top: 15px; font-weight: bold;font-size:14px}
.unit_table .face{border:1px solid #E4EFF5; padding:4px; background: #fff; width: 100px; height: 100px;margin-top:5px}
.unit_table .topic_postdate{ height: 35px; margin: 0px 10px; line-height: 35px; color: #666; background: url(../image/dotted_line_bg.gif) repeat-x bottom;}
.unit_table .unit_left_bg{background:#F3F9FB;border-right: 1px solid #E3EDF0;width:180px; }
.unit_table .left_user_face{margin:10px 20px 5px 20px;}
.unit_table .left_user_info{color: #4089D1;text-align: left;padding:5px 15px;line-height: 1.7em;margin-bottom: 20px}
.unit_table .left_user_info a:link,.unit_table .left_user_info a:visited{color:#4089D1}

.bbs_reply{ border: 1px solid #D3E3EA}
.unit_table .left{ float: left;width: 150px; background: #F3F9FB;padding-top: 10px; border-right: 1px solid #DBE8F0;}
.bbs_reply .left{border-right: 1px solid #D3E3EA}
.unit_table .right{ float: left;width: 728px; padding-top:5px; padding-left: 15px; padding-right: 15px; text-align: left }
.unit_table .comment_content{ font-size: 14px; line-height: 1.8em; padding: 15px; min-height: 150px;}
#temptable table{border:1px solid #999;border-collapse:collapse;}
#temptable table td{border:1px solid #999}

.unit_table .comment_content img{margin: 13px 0;vertical-align:middle; padding:2px;}
.unit_table .comment_content p{ margin-bottom: 15px}
.unit_table .comment_content a,.unit_table .comment_content a:visited{ font-size: 14px;}
.unit_table .comment_content table td{ padding: 4px}
.bbs_bottom_tools{ margin:0px 15px}

.unit_other_property{ position: absolute; top: 45px; right: 35px}

.unit_table .update{ color: #999; padding: 10px;  text-align: left;border: 1px dotted #ccc; background: #f8f8f8; color: #666; margin: 15px 0}
.unit_table h3{ color: #014C90; }
.unit_table .topic_tool{padding: 10px; text-align: right; position: absolute;bottom: 5px;width:95%}
.unit_table .sigline{ padding:9px 2px ;color: #83A2BF; text-align: left}
.send_msg_ico{background: url(../image/user/email.gif) no-repeat;padding-left: 19px}

.add_mark:link{background: url(../image/atten.gif) no-repeat }

.commmet{ color: #333; font-size: 14px; }
.commmet a:link,.commmet a:visited{ margin: 0px 2px; color: #999;}
.commmet a:hover{ margin: 0px 2px; color: #01478F; text-decoration:  underline}

#bbs_links{color: #eee;padding:15px 10px; border: 1px solid #CEE1EE; border-top-width: 0; line-height: 1.7em;}
#bbs_links a.cur:link,#bbs_links a.cur:visited{ background: #01478F; color: #fff; width:50px;padding:2px 5px;}
#bbs_links a.cur:hover{ background: #01478F; color: #fff; width:50px;padding:2px 5px;}

.comment_pager{ margin:2px 0px; clear: both;padding: 1px;float: right;}
.comment_pager .total{background:#f5f5f5; padding:5px 8px; margin-left:3px;color:#666}
.comment_pager, .pics_pager{  clear:both; float:none; margin:0; text-align: left }
.comment_pager a, .pics_pager a{ background:#f5f5f5; padding:5px 8px; margin-left:3px;color:#666}
.comment_pager a:hover, .pics_pager a:hover{ background:#DEEAF7; text-decoration: none}
.comment_pager strong, .pics_pager strong{ padding:5px 8px; background:#A2C6EA; color:#fff; margin-left:3px; }

#voteInfo{ width:640px; margin: 6px; color: #666; text-align: right;font-size:12px}
#voteBox{ width:600px; margin:6px; font-size:12px;color:#999;font-family:verdana; padding: 10px 20px; border:1px solid #eee; background: #fff}

.moreEventInfo:link,.moreEventInfo:visited{ width: 163px; height: 36px; display: block; background: url(../image/moreEventInfo.png) no-repeat}
.moreEventInfo:hover{ background-position: 0px -45px}

/*��絽�����*/
.unit_post{ width:112px; height: 30px;  cursor: pointer;border-width: 0;font-size: 14px; font-weight: bold; color: #f7f7f7;background: url(../image/post_buttons.gif) no-repeat; }
.unit_post:hover{color: #fff; background-position: 0px -35px}
input.comment_post{width:112px; height: 30px;  cursor: pointer;border-width: 0;font-size: 14px; font-weight: bold; color: #333; text-decoration: none; background: url(../image/post_buttons.gif) no-repeat 0 -70px; }
input.comment_post:hover{color: #666; background-position: 0px -106px}

#interested_box{width:102px; height: 36px; padding-left:34px; line-height: 36px; color: #f60;text-decoration: none; background: url(../image/interested_bg.gif) no-repeat 0 -81px;}
a.interested:link,a.interested:visited{ color: #f60;}
a.interested:hover{ background-position: 0 -124px; color: #f70}
.emotion{vertical-align: middle}

#voteBox p.no1{  background-color:#74A5BC;border-color:#558BA5}
#voteBox p.no2{  background-color:#6F9B40;border-color:#436C17}
#voteBox p.no3{  background-color:#f60;border-color:#f30}
#voteBox p.no4{  background-color:#5F83C6;border-color:#2C55A5}
#voteBox p.no5{  background-color:#FF0000;border-color:#CC0000;}
#voteBox p.no6{  background-color:#E0E512;border-color:#A7AA1F}
#voteBox p.no7{  background-color:#815AC6;border-color:#552E9B}
#voteBox p.no8{  background-color:#127EB2;border-color:#08557C}
#voteBox p.no9{  background-color:#74A5BC;border-color:#558BA5}
#voteBox p.no10{  background-color:#6F9B40;border-color:#436C17}
#voteBox p.no11{  background-color:#f60;border-color:#f30}
#voteBox p.no12{  background-color:#5F83C6;border-color:#2C55A5}
#voteBox p.no13{  background-color:#FF0000;border-color:#CC0000;}
#voteBox p.no14{  background-color:#E0E512;border-color:#A7AA1F}
#voteBox p.no15{  background-color:#815AC6;border-color:#552E9B}
#voteBox p.no16{  background-color:#127EB2;border-color:#08557C}
#voteBox p.no17{  background-color:#74A5BC;border-color:#558BA5}
#voteBox p.no18{  background-color:#6F9B40;border-color:#436C17}
#voteBox p.no19{  background-color:#f60;border-color:#f30}
#voteBox p.no20{  background-color:#5F83C6;border-color:#2C55A5}
#voteBox p.no21{  background-color:#FF0000;border-color:#CC0000;}
#voteBox p.no22{  background-color:#E0E512;border-color:#A7AA1F}
#voteBox p.no23{  background-color:#815AC6;border-color:#552E9B}
#voteBox p.no24{  background-color:#127EB2;border-color:#08557C}
#voteBox p.no25{  background-color:#74A5BC;border-color:#558BA5}
#voteBox p.no26{  background-color:#6F9B40;border-color:#436C17}
#voteBox p.no27{  background-color:#f60;border-color:#f30}
#voteBox p.no28{  background-color:#5F83C6;border-color:#2C55A5}
#voteBox p.no28{  background-color:#FF0000;border-color:#CC0000;}
#voteBox p.no30{  background-color:#E0E512;border-color:#A7AA1F}
#voteBox p.no31{  background-color:#815AC6;border-color:#552E9B}
#voteBox p.no32{  background-color:#127EB2;border-color:#08557C}
#voteBox p.no33{  background-color:#74A5BC;border-color:#558BA5}
#voteBox p.no34{  background-color:#6F9B40;border-color:#436C17}
#voteBox p.no35{  background-color:#f60;border-color:#f30}
#voteBox p.no36{  background-color:#5F83C6;border-color:#2C55A5}
#voteBox p.no37{  background-color:#FF0000;border-color:#CC0000;}
#voteBox p.no38{  background-color:#E0E512;border-color:#A7AA1F}
#voteBox p.no39{  background-color:#815AC6;border-color:#552E9B}
#voteBox p.no40{  background-color:#127EB2;border-color:#08557C}
#voteBox p.no41{  background-color:#74A5BC;border-color:#558BA5}
#voteBox p.no42{  background-color:#6F9B40;border-color:#436C17}
#voteBox p.no43{  background-color:#f60;border-color:#f30}
#voteBox p.no44{  background-color:#5F83C6;border-color:#2C55A5}
#voteBox p.no45{  background-color:#FF0000;border-color:#CC0000;}
#voteBox p.no46{  background-color:#E0E512;border-color:#A7AA1F}
#voteBox p.no47{  background-color:#815AC6;border-color:#552E9B}
#voteBox p.no48{  background-color:#127EB2;border-color:#08557C}