a:link,a:visited{ color: #01478F; text-decoration: none}
a:hover{ text-decoration: underline}
.must{ color: #F77979}

/*稍浅链接*/
.link2,.link2 a:link,.link2 a:visited,a.link2:link,a.link2:visited{ color:#4482C0; text-decoration: none}
.link2 a:hover,a.link2:hover{text-decoration: underline}

p,ul,li,form{margin: 0; padding: 0}
li{ list-style: none}
.w950{ width: 950px; margin: 0 auto}
.clear{ clear: both}
input,textarea{outline:none;}
img{ border-width: 0}
.middle{vertical-align:middle}
.nodata{ color: #999}
.center{ text-align: center}
.main_content{ background: #fff; padding: 15px}
.button_blue{background: #486AAA;height:25px;font-size:12px; padding:5px 10px; border-color: #A0B3D6 #34538B #34538B #A0B3D6; border-width: 1px; color: #FFFFFF; cursor: pointer; *padding: 4px 8px;}
.button_blue:hover{background: #035298}
.button_gray{background: #eee;height:27px;font-size:12px; padding: 4px 15px; border-color: #f5f5f5 #E0E0E0 #E0E0E0 #f5f5f5; border-width: 1px; color: #333; cursor: pointer}
.button_disabled{background: #eee;height:27px;font-size:12px; padding: 4px 15px; border-color: #f5f5f5 #E0E0E0 #E0E0E0 #f5f5f5; border-width: 1px; color: #999; cursor: pointer}
.input_text{background: #fff url("/static/images/input_textarea_bg.gif") no-repeat; font-size:12px;height:20px;padding:3px 4px 0;margin: 3px 0; border: 1px solid #ccc}
.input_text:focus{border-left: 1px solid #999; border-top: 1px solid #999}
.emotion{vertical-align: middle}

/*ico链接*/
.ico_group{ background: url("/static/images/flag.png") no-repeat 0 -1px; padding-left: 15px;height: 16px}
.ico_setting{ background: url("/static/images/ico_manage.gif") no-repeat 0 -1px; padding-left: 20px;height: 16px}
.ico_quote{ background: url("/static/images/user/icos.gif") no-repeat 0 -226px; padding-left: 20px}
.ico_reply{background: url("/static/images/user/icos.gif") no-repeat 0 -265px; padding-left: 20px}
.ico_edit{background: url("/static/images/user/icos.gif") no-repeat 0 -304px; padding-left: 20px}
.ico_manage{background: url("/static/images/ico_manage.gif") no-repeat; padding-left: 17px}
.ico_television{background: url("/static/images/television_add.gif") no-repeat; padding-left: 20px}
.ico_del{background: url("/static/images/no.png") no-repeat; padding-left: 20px}
.ico_yes{background: url("/static/images/ico_yes.gif") no-repeat; padding-left: 20px}
.ico_no{background: url("/static/images/ico_no.gif") no-repeat; padding-left: 20px}

/*斑马线*/
#bench_list{}
#bench_list th{ background: #f8f8f8;border-bottom: 1px solid #ccc;padding:8px 4px; color: #666}
#bench_list td{border-bottom: 1px solid #E5EAF0; height: 22px}
#bench_list .odd_tr{ background: #fff}
#bench_list .even_tr{background:#F5FAFE}

/*返回顶部box*/
#topcontrol { padding:0;width:38px;height:38px}

/*顶部导航*/
#top_tool{ color: #537E9E;height: 33px; line-height: 33px;background: url("images/top_tool_bg.gif") repeat-x;filter:alpha(Opacity=65);-moz-opacity:0.6;opacity: 0.6; }
#top_tool a:link,#top_tool a:visited{ color: #537E9E}
#top_tool .cur_here{ float: left; background:url("images/ico_house.gif") no-repeat 5px 5px; padding-left: 30px}
#top_tool .user_nav{ float: right;padding-right: 20px;width:600px; text-align: right}

/*下拉菜单*/
#top_tool ul.float_menu{ float:right;}
#top_tool ul.float_menu li {float:left;	list-style:none;}
#top_tool ul.float_menu li a:link,#top_tool ul.float_menu li a:visited{display:block; height: 33px}
#top_tool ul.float_menu ul {position:absolute;top:33px}
#top_tool ul.float_menu li a:hover {}
#top_tool ul.children {display:none;margin:0;}
#top_tool ul.children li {float:none;margin:0;}
#top_tool ul.children li a:link,#top_tool ul.children li a:visited{width:100px;background:#4D8976;padding-left:4px;height: 28px; line-height: 28px}
#top_tool ul.children li a:hover{background:#276250}

/*活动详细页面*/
.view_name{ margin: 10px 0; height: 45px; line-height: 45px; color: #CC0000; position: relative;font-family:'Microsoft YaHei','Microsoft JhengHei','黑体';font-size: 18px; }
.view_name .join{ position: absolute;right: 10px; top: 0}
.view_title{ border-top: 1px solid #DCE8F3; height: 28px; background: #F3F8FA; font-weight: bold; color: #0D529F; padding-left: 15px; padding-top:8px;font-family:'Microsoft YaHei','Microsoft JhengHei';font-size: 18px}
.view_box{ margin: 10px 0; padding: 10px 15px; line-height: 1.8em; color: #333}
.event_content{ font-size: 14px; line-height: 1.7em}
.event_content img{ margin: 15px 0}
.event_content p{margin:0px; padding: 0}
.event_content a{ font-size: 14px;}
.signeventbutton{background:url("/static/images/signevent.gif") no-repeat;width:132px;height: 40px; border-width: 0; cursor: pointer}
.signeventbutton:hover{ background-position: 0 -51px}
#interested_box{width:82px; height: 32px; padding-left:34px; line-height: 32px; color: #f60;text-decoration: none; background: url("/static/images/interested_bg.gif") no-repeat;}
a.interested:link,a.interested:visited{ color: #f60;}
a.interested:hover{ background-position: 0 -35px; color: #f70}

/*一组头像*/
.new_user_avatar{ float: left;width: 54px; text-align: left;margin:0 6px 5px 0; height: 80px }
.new_user_avatar .face{ display:block;margin: 0px; padding-top:3px; padding-left: 3px;background:url("/static/images/avatar_bg_54.png") no-repeat; width: 54px; height: 51px; text-align: left}
.new_user_avatar .face_online{ display:block;margin: 0px; padding:3px 0px 0px 3px;background:url("/static/images/avatar_bg_54.png") no-repeat 0px -152px; width: 54px; height: 51px;}
.new_user_avatar .face_verify {display:block;margin: 0px;padding: 3px 0px 0px 3px;background:none;width: 51px;height: 51px;border:1px dashed #ccc;-moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px;}
.new_user_avatar .face:hover{ background-position: 0px -79px}
.new_user_avatar .face img{ margin: 0; border-width: 0}
.new_user_avatar .face_online img{ margin: 0; border-width: 0}
.new_user_avatar .name{display:block;margin: 0;text-align: center}
.new_user_avatar .name a:link,.new_user_avatar .name a:visited{font-size:12px}

/*新鲜事发布标题*/
.write_weibo_title{background: url("/static/homepage/images/write_title.gif") no-repeat 0 10px; color: #999; padding:5px 10px; text-align: right}

/*顶部邮件图标*/
.ico_email_close{ background: url("/static/images/user/email.gif") no-repeat; padding-left: 17px}
.ico_email_open{ background: url("/static/images/user/email_open.gif") no-repeat; padding-left: 17px}
.ico_sound_off{background: url("/static/images/sound_off.gif") no-repeat;padding-left: 17px}
.ico_sound_on{background: url("/static/images/sound_on.gif") no-repeat;padding-left: 17px}

/*绿色按钮*/
.greenButton{ background: url("/static/homepage/images/buttons.png"); border-width: 0; width: 70px;height:24px; color: #fff;cursor: pointer}
.greenButton:hover{ background-position: 0px -26px}
/*小绿色按钮*/
.greenButton2{ background: url("/static/homepage/images/buttons.png") no-repeat 0px -112px; border-width: 0; width: 50px;height:24px; color: #fff;cursor: pointer}
.greenButton2:hover{ background-position: 0px -137px}
.grayButton2{ background: url("/static/homepage/images/buttons.png") no-repeat 0px -162px; border-width: 0; width: 50px;height:24px; color: #999;cursor: pointer}
.grayButton2:hover{ background-position: 0px -187px}

/*关注按钮*/
.markMe{background: url("/static/homepage/images/mark_ico.png") no-repeat; padding-left: 35px;border-width:0; width: 90px;height:24px; color: #fff;cursor: pointer; }
.markMe:hover{background-position: 0px -28px}
.markUser{background: url("/static/homepage/images/mark_ico.png") no-repeat 0 -56px; padding-left:15px;border-width:0; width: 68px;height:24px; color: #fff;cursor: pointer; }
.markUser:hover{background-position: 0px -84px}
.marked{background: url("/static/homepage/images/mark_ico.png") no-repeat 0 -124px; padding-left:18px;border-width:0; width: 76px;height:24px; color: #999;cursor: pointer; }
.marked:hover{color: #666}
.markMutual{background: url("/static/homepage/images/mark_ico.png") no-repeat 0 -151px; padding-left:18px;border-width:0; width: 76px;height:24px; color: #999;cursor: pointer; }
.markMutual:hover{color: #666}

/*home title*/
.big_title{ padding:10px 0;font-size: 12px; height: 22px}
.big_title .name{ float: left;height: 22px; line-height: 22px;color: #1F9800;font-size:14px; font-weight: bold }
.big_title .tool{float: right; padding: 0px 10px; text-align: right; color: #86B7C6}

.more{ text-align: right; margin: 5px 5px 10px 5px;}
.more a:link,.more a:visited{}

.moreload{height: 32px; width: 587px; background: url("/static/homepage/images/ajaxload_button.gif") no-repeat; border-width: 0; cursor: pointer}
.moreload:hover{ background-position: 0px -51px}

#banner_pics{ text-align: center}
#banner_pics img{}
#banner_pics_title{ display: none}

/*tab*/
.blue_tab{ border-bottom: 1px solid #CEE1EE; height: 26px; position: relative}
.blue_tab ul{ position: absolute; top: 0px; left: 20px;}
.blue_tab li{float: left;  margin-right: 10px;text-align:center}
.blue_tab a{ display: inline-block;  height:25px; line-height: 25px; padding: 0px 18px;background: #E3EEF8; border:1px solid #E3EEF8; border-bottom: 1px solid #CEE1EE}
.blue_tab a.cur{ background: #fff; border: 1px solid #CEE1EE; border-bottom: 1px solid #fff; color: #333}

/*tab*/
.blue_tab2{ border-bottom: 1px solid #CEE1EE; height: 26px; }
.blue_tab2 ul{ margin: 0 10px; padding: 0}
.blue_tab2 li{float: left;  margin-right: 10px;text-align:center;}
.blue_tab2 a{ display: inline-block;  height:25px; line-height: 25px; padding: 0px 15px;background: #EBF3FC; border:1px solid #E3EEF8; border-bottom: 1px solid #CEE1EE;}
.blue_tab2 a:hover{ background: #fff}
.blue_tab2 a:focus{outline:none}
.blue_tab2 a.cur{ background: #fff; border: 1px solid #CEE1EE; border-bottom: 1px solid #fff; font-weight: bold; }

/*左右栏*/
#main{overflow:hidden;  width:950px;  margin:0 auto;background-color: rgba(235,243,252,0.9);background:#EBF3FC\9!important; filter:alpha(opacity=90);}
#main_left{ float: left;width: 680px; position:relative; padding: 15px; background: #FBFEFF; padding-bottom: 100px;min-height:600px;}
/*左侧再分*/
#main_left_div{ margin: 10px 0}
#main_left_left{ float: left; width:150px;}
#main_left_right{ float:left; width: 440px;}

/*右侧box*/
#main_right{ float:right; width:240px; padding:5px 0px;color:#4482C0;position:relative;_width:239px; }
#main_right a:link,#main_right a:visited{color:#4482C0; }
#main_right .rightbox{ padding: 10px;}
#main_right .userbox_left{ float: left; width: 86px; height: 86px; background: url("images/big_face_bg.png") no-repeat;padding: 5px}
#main_right .userbox_right{ padding: 5px 0; float: right;width: 110px;}


/*右侧导航*/
#right_user_menu ul{}
#right_user_menu ul li{height: 32px; line-height: 32px; padding: 0px 20px }
#right_user_menu a:link,#right_user_menu a:visited{padding-left: 10px;font-size: 14px;}
#right_user_menu .cur{background: #FBFEFF;}
#right_user_menu .cur .dottle_line{ background: none}
#right_user_menu .cur a:link,#right_user_menu .cur a:visited{ color: #666}

/*admin*/
#admin950{position:relative; background: #FFFFFF; padding: 20px 20px}

/* 推荐图片内容 */
#top_box{ padding:10px 5px 10px 10px}
#top_box .img{ float: left; width: 100px}
#top_box .img img{ padding: 2px; border: 1px solid #eee}
#top_box .title{ float:left; margin-left: 15px; width: 300px}
#top_box .info{color:#666;padding:5px 0; line-height: 1.5em}
#top_box .tlink:link,#top_box .tlink:visited{ color: #f30; font-size: 14px; font-weight: bold}

/* 推荐图片内容 横屏 */
#top_box2{ padding:10px 5px 10px 10px}
#top_box2 .img{ float: left; width: 100px}
#top_box2 .img img{ padding: 2px; border: 1px solid #eee}
#top_box2 .title{ float:left; margin-left: 15px; width: 500px}
#top_box2 .info{color:#666;padding:5px 0; line-height: 1.5em}
#top_box2 .tlink:link,#top_box2 .tlink:visited{ color: #f30; font-size: 14px; font-weight: bold}

/*校友会名称*/
#hp_top{ width: 950px; margin: 0px auto; margin-top:15px;}
#hp_name .hp_logo img{vertical-align:middle; }
#hp_name .hp_title{padding-top: 15px;font-size:24px; color: #063968;font-family: 'YaHei Consolas Hybrid','Microsoft YaHei',"微软雅黑",'黑体'; font-weight: normal}
#hp_name .hp_title a:link,#hp_name .hp_title a:visited{font-size:24px; color: #063968;font-family: 'YaHei Consolas Hybrid','Microsoft YaHei',"微软雅黑",'黑体'; }
#hp_name .hp_title a:hover{ text-decoration: underline;color: #0D4B86}
#hp_name .sign_members{ color: #6191CB; font-family: verdana}

/*校友会导航*/
#hp_nav{ background: #78A0D1;margin-top: 10px; *height:32px}
#hp_nav .menu{ margin:0 0 0 15px; float: left;padding:0;}
#hp_nav .menu li{list-style: none; float: left;margin: 5px 0 0 0; padding: 0;width: 70px; text-align: center; }
#hp_nav a:link,#hp_nav a:visited{ padding-top:5px; display: block; height: 23px; color: #FFF;font-size: 14px; font-weight: bold}
#hp_nav a:hover{color: #fff; background: #6286B4  }
#hp_nav a.cur:link,#hp_nav a.cur:visited{padding-top:6px;  display: block;background: #fff url("images/aa_nav_cur.gif") repeat-x; color: #2E619C}

/*热点聚焦*/
#hot_link{ color: #c00; margin: 10px 0;font-family: verdana}
#hot_link a:link,#hot_link a:visited{ color: #c00;}

.hp_table th{border-bottom: 1px solid #eee; height: 30px; background: #f8f8f8;padding: 0px 3px}
.hp_table td{border-bottom: 1px solid #eee; height: 30px}
.hp_table .cat{color: #999}
.hp_table .cat a:link,.hp_table .cat a:visited{color: #999}
.hp_table a:link,.hp_table a:visited{font-size: 12px}

/*内容列表样式*/
.con_list{ margin:10px 0}
.con_list li{ height:25px; line-height: 25px; background: url("/static/images/dot2.gif") no-repeat 5px;position:relative;padding-left: 15px;color: #999;}
.notdot li{ background:none;padding-left:2px}
.con_list li:hover{ background-color: #F5F5F5}
.con_list li span{ position:absolute; top:0; right:0; color:#999}
.con_list .date{ color: #666}

/*内容列表样式 无点点*/
.con_list2{ margin:5px 0}
.con_list2 li{ height:25px; line-height:25px; position:relative;color: #999; border-bottom: 1px solid #f3f3f3;}
.notdot2 li{ background:none;padding-left:2px}
.con_list2 li:hover{ background-color: #F5F5F5}
.con_list2 li span{ position:absolute; top:0; right:0; color:#999}
.con_list2 .date{ color: #666}

#top_search{ float: right; margin:3px;}
#top_search li{ float: left}
#top_search .search_input{ background: url("images/top_search_bg1.gif") no-repeat;width:185px; color: #B9CCE3; height: 18px; border-width: 0; padding: 4px 10px; line-height: 18px; }
#top_search .search_button{background: url("images/top_search_bg1.gif") no-repeat -213px 0;width:40px; height: 26px; border-width: 0; cursor: pointer }
#top_search .search_button:hover{background: url("images/top_search_bg1.gif") no-repeat -213px -50px;}

.dottle_line{ height: 1px; background: url("/static/homepage/images/dottle_dot.gif") repeat-x;}
.dottle_bg{ background: url("images/dottle_dot.gif") repeat-x bottom}

/*weibo form*/
.textarea{ padding:7px 10px; line-height: 1.6em; color: #555; font-size:14px; width:661px; height: 76px; border-width: 0; resize: none;background: url("images/textarea_bg.gif") no-repeat;overflow-y:hidden}
.home_form_tool{ height: 30px; padding: 5px 10px}
.textarea:hover{ background-position: 0 -113px}
.form_tool_left{ float: left; width: 300px;}
.form_tool_right{ float: right; text-align: right}
.weiboPostButton{ width: 72px; height: 27px; border-width: 0; background: url("images/mood_btn.jpg") no-repeat; cursor: pointer}
.weiboPostButton:hover{ background-position: 0px -29px}
.weiboSendingButton{  width: 72px; height: 27px; border-width: 0; background: url("images/mood_btn.jpg") no-repeat 0 -60px; cursor: pointer}
.weiboErrorButton{width: 72px; height: 27px; border-width: 0; background: url("images/mood_btn.jpg") no-repeat 0 -92px; cursor: pointer}
.weibo_date_link:link,.weibo_date_link:visited{color:#6AADDB}

.tool_ico_face{ background: url("images/tool_ico.gif") no-repeat; padding: 3px; padding-left: 18px}
.tool_ico_img{ background: url("images/tool_ico.gif") no-repeat 0 -75px; padding: 3px; padding-left: 18px}
.tool_ico_unit{ background: url("images/tool_ico.gif") no-repeat 0 -36px; padding: 3px; padding-left: 18px}
.tool_ico_user{ background: url("images/tool_ico.gif") no-repeat 0 -147px; padding: 3px; padding-left: 18px}
.tool_ico_event{ background: url("images/tool_ico.gif") no-repeat 0 -223px; padding: 3px; padding-left: 18px}

/*sign button*/
.sign_button_green{ background: url("/static/homepage/images/sign_button.gif") no-repeat; width: 163px; height: 36px; border-width: 0; cursor: pointer}
.sign_button_green:hover{ background-position: 0 -53px; width: 163px; height: 36px; border-width: 0}

/*face */
.newface{ background: url("/static/images/newface_bg.gif") no-repeat; height: 48px; width: 48px; line-height: 52px; padding: 4px}
.newface img{ border-width: 0}

/*weibo content*/
.weibo_con_title{ margin-top: 10px; color: #999; font-size: 14px; height: 30px; line-height: 30px;}
#weibo_content_list{ padding:0px 0px 15px 0;}
.weibo_content{ background:url("images/dottle_dot.gif") repeat-x bottom; padding:15px 0px 10px 0;}
.weibo_content_image image{border:1px solid #eee;padding:2px}
.weibo_content_left{ float: left; width: 70px; padding-left: 10px}
.weibo_content_right{ float:left; width: 570px;margin-left: 10px; color: #54677C;font-size:14px; line-height: 1.6em}
.weibo_content_right a:link,.weibo_content_right a:visited{font-size: 14px; margin: 0px 1px}
.weibo_content_tool{ margin-top: 15px; height: 20px; color: #999;font-size: 12px; text-align: left}
.weibo_content_tool a:link,.weibo_content_tool a:visited{ color: #6AADDB;font-size:12px}
.weibo_content_tool .wct_left{ float: left; width: 300px; font-family: verdana }
.weibo_content .clients{color:#B8B7B7}
.weibo_content .clients .cname{color:#9DB7C9; font-family: verdana}
.weibo_content_tool .wct_right{ float: right; width: 200px; text-align: right; font-family: verdana }
.middle{vertical-align:middle;}
.exp{vertical-align:middle; margin: 0px 2px}
.weibo_con_comment{width: 560px; margin-left: 90px}
.weibo_comment{ width: 567px; color: #54677C; font-size: 12px;}
.weibo_comment a:link,.weibo_comment a:visited{ color: #268DD3;}
.cmt_top{ height: 15px; background: url(/static/homepage/images/comment_bg.gif)}
.cmt_footer{ height: 10px; background: url(/static/homepage/images/comment_bg.gif) no-repeat 0 -94px}
.cmt_form{ background-color: #F6F6F6; padding:5px 15px; border-left: 1px solid #E3E4E5; border-right: 1px solid #E3E4E5}
.cmt_form li{ float: left}
.cmt_list{ color: #777; background-color: #F6F6F6; padding:5px 15px; border-left: 1px solid #E3E4E5; border-right: 1px solid #E3E4E5}
.comment_dotted_line{ background: url(/static/homepage/images/comment_dotted_line.gif) repeat-x bottom; height: 2px; line-height: 2px; margin: 5px}

.comment_textarea{width:100%; padding-top: 4px ; border-width: 1px; border-color: #C4C7BD #EFEFEF #F2F2F2 #D3D6CB; color: #333;overflow-y:hidden;*border: 1px solid #eee; }
.cmt_tool{ text-align: right; padding: 10px}

/* 内容标题栏 */
.con_title{height: 30px; line-height: 30px;margin: 5px 15px}
.column_tt{height: 30px; line-height: 30px;margin: 5px 15px;font-size:14px; color: #325F98;font-weight: bold;}
.postlink{ background: url("/static/images/+.gif") no-repeat 0; padding-left: 20px;}
.con_title .title_name{ float: left;font-size:14px; color: #325F98;font-weight: bold; }
.con_title .more_link{ float: right; color: #999}
.con_title .more_link a{color: #999;padding-top: 5px}

#bbs_table{ margin: 10px 0}
.photo_list{ margin-bottom: 100px; padding: 15px 0}
.pbox{ float: left;text-align: center; padding: 2px; border: 1px solid #f8f8f8; margin:0 10px 10px 0}

/*user face*/
.ubox{ float: left; text-align: center; margin: 0 10px 5px 0;}
.user_avatar{border: 1px solid #E0E0E0; padding: 2px;background-color: #fff;-moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px;}
.online{ border: 1px solid #C9E98E;background-color: #C9E98E;}
.face_name{ margin: 5px 0 0 0; }

/*right*/
.aa_block{ margin: 0px 10px 20px 14px}
.aa_block ul{}
.aa_conlist li{ padding-left: 10px; background: url("/static/images/dot1.gif") no-repeat 0 6px; margin-bottom:4px}
.aa_conlist li a.cur:link,.aa_conlist li a.cur:visited{ font-weight: bold}

/*contacts*/
.home_contacts{ color: #01478F}

/*page*/
.comment_pager{ margin:20px 10px; clear: both; padding: 20px}
.comment_pager .total{background:#f5f5f5; padding:5px 8px; margin-left:3px;color:#666}
.comment_pager, .pics_pager{ text-align:center; clear:both; float:none; margin:10px; }
.comment_pager a:link,.comment_pager a:visited, .pics_pager a{ background:#f5f5f5; padding:5px 8px;  margin: 0;color:#666}
.comment_pager a:hover, .pics_pager a:hover{ background:#DEEAF7; text-decoration: none}
.comment_pager strong, .pics_pager strong{ padding:5px 8px; background:#A2C6EA; color:#fff; margin-left:3px; }

/*footer*/
#footer{ width: 950px; margin: 0px auto 50px auto; background: #E9F6FD; text-align: center;padding:15px 0; color: #5D90B7; border-top: 1px solid #D6E3F2}
#footer a{ color: #5D90B7; margin-right: 10px}

#event_table .title:link,#event_table .title:visited{ font-weight: bold; font-size: 14px;}

/*评论列表样式*/
.comments_title{margin: 10px;background: url(/static/images/comments.png) no-repeat 0 0; font-size:14px; padding-left: 20px;}
#comments_list{ padding:0px;}
#comments_list .one_comment{ margin-bottom: 10px; background: url(/static/images/dotted_line_bg2.gif) repeat-x 0 bottom; padding:0px 0 20px 0px;_width:100%}
#comments_list .left{ float: left; width: 60px; text-align: center;padding-top: 7px}
#comments_list .left img{ padding:2px; border: 1px solid #eee}
#comments_list .right{ float: left; margin-left:8px; width:580px; text-align: left; }
#comments_list .user{ color: #999; height: 25px; line-height: 25px}
#comments_list .comment_content{}
#comments_list .topic_tool{ text-align: right; margin-top: 5px}

/*comments*/
#comments_list .one_cmt_left{ float: left; width: 60px; text-align: center;padding-top: 7px;}
#comments_list .one_cmt_right{float:left; margin-left:8px; width:560px; text-align: left; }
#comment_form_box .comment_form{float:left; width:560px;}
#cmt_content{width:600px; height:70px}

/*公共评论表单样式*/
#comment_form_box .user_face{float:left; width: 70px;_width:60px}
#comment_form_box .face{padding:2px; border: 1px solid #eee}
#comment_form_box .comment_form{float:left; width:660px;}

.cmt_quote{ padding:10px; background:#FAFAEA;border: 1px solid #E0E093;color: #333;font-size:12px;margin:4px; line-height: 1.5em; border-top-width: 2px}
.cmt_quote .quote_content{ padding:8px;}
.cmt_quote .quote_name{ color: #626224;margin: 0;padding: 0}
.cmt_quote p{margin:0px;padding:0;font-size:12px}
.cmt_quote a:link,.cmt_quote a:visited{font-size:12px}

.quote_new{ border:1px solid #CECE7E;background:#FCFCF2;font-size:12px; padding:4px; margin-bottom:4px;}
.quote_new .quote_author{ margin:0px 5px 0 5px; padding: 0;_margin-top:5px }
.quote_new .quote_name{ float: left;width:80%;color: #666;padding:0px; margin: 0;}
.quote_new .quote_floor{ float: right;width:10%; text-align: right;color: #666;padding:0px; margin: 0}
.quote_new .quote_content{ clear: both;color: #333; font-size: 12px; text-align: left;padding:0px 5px; margin:-5px 0px 15px 0px}

/*管理员二级菜单*/
#aa_admin_action{ width: 950px; margin: 0px auto; padding:10px}


/*insert zoom*/
.zoom_small{width:155px;padding:5px 5px 0px 0px; float: left;margin:0px 5px 5px 0px; }
.zoom_small .imagetool{ display: none}
.zoom_small img{padding:2px;border:1px solid #eee;cursor:  url("/static/big.cur"),pointer;}

.zoom_big{ float: left;  text-align: center;margin:15px 20px; padding:5px 10px 15px 10px;background: #f5f5f5;border:1px solid #eee;-webkit-border-radius: 6px;-moz-border-radius: 6px; }
.zoom_big .imagetool{ display: block;}
.zoom_big img{ cursor: url("/static/small.cur"),pointer;}

.view_big_img{text-align: center;margin:15px 20px; padding:5px 10px 15px 10px;background: #f5f5f5;border:1px solid #eee;-webkit-border-radius: 6px;-moz-border-radius: 6px; }
.view_big_img .imagetool{ display: block;}

/*被转载样式*/
.forwardContent{width:570px}
.forwardContent .forward_top{height:16px;background: url("/static/homepage/images/forward_top.png") no-repeat top;}
.forwardContent .forward_con{background:#FBFBFB; border-left: 1px solid #E1E4E5; border-right:1px solid #E1E4E5;padding:3px 15px;font-size:12px;color:#777777}
.forwardContent .forward_bottom{height:11px;background: url("/static/homepage/images/forward_bottom.png") no-repeat top;}

#checkNewNum{background: #FEFFE5;color: #D4A639; text-align: center; border: 1px solid #F9F2A7;margin: 5px 0; height: 22px; line-height: 22px}
#checkNewNum a{display:block;color: #D4A639;}
#checkNewNum a:hover{ background: #FDFFD2}

/*首页滚动新鲜事样式*/
.scrollWeibo ul,.scrollWeibo li {margin:0; padding:0;list-style:none}
.scrollWeibo {position: relative;width: 100%;height: 220px;overflow: hidden;margin:5px 0;}
.slider {position: absolute;width: 100%;padding: 0;left:0;top: 0;}
.fl {float:left}
.slider li {padding: 10px 0; border-bottom: 1px solid #F3F3F3;overflow:hidden;width:100%;height:50px}
.slider p {font-size: 12px;margin:0;padding-left:68px;color:#333;line-height:20px;}

/*uploadify*/
.uploadifyQueueItem {
        background-color: #F5F5F5;
        border: 2px solid #E5E5E5;
        font: 11px Verdana, Geneva, sans-serif;
        margin-top: 5px;
        padding: 10px;
        width: 350px;
}
.uploadifyError {
        background-color: #FDE5DD !important;
        border: 2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
        float: right;
}
.uploadifyQueue .completed {
        background-color: #E5E5E5;
}
.uploadifyProgress {
        background-color: #E5E5E5;
        margin-top: 10px;
        width: 100%;
}
.uploadifyProgressBar {
        background-color: #0099FF;
        height: 3px;
        width: 1px;
}

/*candybox*/
.candy_form_err, .candy_form_success, .candy_form_resp {margin: 10px 0px;padding:5px 10px;-moz-border-radius: 8px;-khtml-border-radius: 8px; -webkit-border-radius: 8px;border: 1px solid;}
.candy_form_err{background:#FDF6D4;color:#52565B;border-color:#EAE3C1;font-size:12px}
.candy_form_success{background:#E6EFC2;color:#264409;border-color:#C6D880;font-size:12px}
.candy_form_resp{background: #f5f5f5;color: #666;border-color: #ccc;font-size:12px;}
.candyCorner{ -moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}

/*banner*/
.container {
        WIDTH: 676px;
        HEIGHT: 160px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
}
.container A IMG {
        WIDTH: 676px;
        HEIGHT: 160px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
}
.container IMG {
        border-BOTTOM-STYLE: none;
        border-RIGHT-STYLE: none;
        border-TOP-STYLE: none;
        border-LEFT-STYLE: none
}
.td_f A IMG {
        PADDING-BOTTOM: 0px;
        MARGIN: 0px;
        PADDING-LEFT: 0px;
        PADDING-RIGHT: 0px;
        PADDING-TOP: 0px
}
.banner_num {
        POSITION: absolute;
        WIDTH: 90px;
        FLOAT: right;
        TOP: 135px;
        LEFT: 605px
}
.banner_num LI {
        TEXT-ALIGN: center;
        LINE-HEIGHT: 15px;
        LIST-STYLE-TYPE: none;
        MARGIN: 1px;
        WIDTH: 15px;
        FONT-FAMILY: Arial;
        BACKGROUND: url("/static/homepage/images/flashbutton.gif") no-repeat -15px 0px;
        FLOAT: left;
        HEIGHT: 15px;
        COLOR: #86a2b8;
        FONT-SIZE: 12px;
        CURSOR: pointer
}
.banner_num LI.on {
        LINE-HEIGHT: 15px;
        WIDTH: 15px;
        BACKGROUND: url("/static/homepage/images/flashbutton.gif") no-repeat;
        HEIGHT: 15px;
        COLOR: #ffffff
}


.eventVote{ float: left; margin: 0;padding: 0}
.eventVote li{float: left;width:18px; height: 18px;background: url("/static/images/votexx.gif") no-repeat}
.eventVote li:hover{background: url("/static/images/votexx.gif") no-repeat 0px -31px}
.eventVote li.notselected{background: url("/static/images/votexx.gif") no-repeat 0px 0px}
.eventVote li.selected{background: url("/static/images/votexx.gif") no-repeat 0px -31px}

/*point*/
.pc_l,.pc_c,.pc_inner,.pc_r{width:29px;height:56px;line-height:56px;background:url("/static/images/popupcredit_bg.gif") no-repeat 0 0;}
.pc_c{width:200px;background-position:0 -56px;background-repeat:repeat-x;}
.pc_inner{white-space:nowrap;text-align:center;width:auto;background-position:50% -112px;}
.pc_inner span{margin-right:15px;color:#FFEA97;font-size:14px;font-weight:700;}
.pc_inner span{display:inline-block;}
.pc_inner span a{color:#FFEA97;text-decoration:underline;}
.pc_inner span em{color:#FFF;font-size:18px;font-weight:400;}
.pc_inner span em.desc{color:#930;}
.pc_btn img{opacity:0.5;}
.pc_btn:hover img{opacity:1;}
.pc_r{background-position:-30px 0;}
.optionbar{float:left;overflow:hidden;margin:3px 4px 0 -6px;background:#09C url("/static/images/header.gif") repeat-x;height:14px;}
.deloption{float:left;margin:4px;width:12px;height:12px;background:url("/static/images/close.gif") no-repeat 0 0;overflow:hidden;text-indent:-9999px;}

/*俱乐部及首页图片圆角样式*/
.home_club_logo{width:50px; height: 50px;-webkit-border-radius: 8px;border-radius: 8px;-webkit-box-shadow:1px 1px 1px #d8d8d8;;box-shadow:1px 1px 1px #d8d8d8;background-color: #fff;padding:1px;border: 1px solid #E5E5E5}
.home_club_logo:hover{border: 1px solid #D9D8D8;-webkit-box-shadow:1px 1px 1px #C1BFBF;box-shadow:1px 1px 1px #C1BFBF;}
.rec_image{width:210px;margin-bottom: 10px;-webkit-border-radius: 8px;border-radius: 8px;-webkit-box-shadow:1px 1px 1px #d8d8d8;;box-shadow:1px 1px 1px #d8d8d8;background-color: #fff;padding:1px;border: 1px solid #E5E5E5}
.rec_image:hover{border: 1px solid #D9D8D8;-webkit-box-shadow:1px 1px 1px #C1BFBF;box-shadow:1px 1px 1px #C1BFBF;}

.go2top { background: url("/static/images/o_o_go2top.png") no-repeat scroll left top transparent;    bottom: 65px;    color: #444444;    display: none;    height: 50px;right: 60px; margin-left: 510px;position: fixed;text-align: center; width: 50px;z-index: 9999999}
.go2top:hover {background-position: -50px top;}


.error, .notice, .success {padding:.8em;margin-bottom:1.6em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;margin:10px 0; border-width: 1px}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11; background:none; padding:0; margin:0; }
.notice a {color:#514721; background:none; padding:0; margin:0; }
.success a {color:#264409; background:none; padding:0; margin:0; }