body{ background: #E7F1FD;margin: 0px; font-size: 12px; font-size: 12px; font-family:Arial, Helvetica, sans-serif;}
form,ul,p{ margin: 0px; padding: 0}
li{ list-style:none}
a img{ border-width:0}
.container{ width: 100%;}
.w950{ width:950px; margin:0 auto; background: #fff}
#header{margin: 0px auto;width:100%;background:url("../image/bg-top.jpg") repeat-x; }
#zuaa_bg{ width: 1002px; margin: 0px auto; background: url("../image/top_zju_bg.jpg") no-repeat 0 0;height: 97px}
.logo_tool{height:56px; color: #DBEBFB}
.logo_tool .left{height:56px; width: 250px; float: left;}
.logo_tool .right{height:46px; width: 560px; float: right; text-align: right; padding-right: 40px; padding-top: 10px}
.user_nav a:link,.user_nav a:visited{color: #DBEBFB}
.logo_tool .site_search{ margin-top: 25px;}
.user_panel{color: #DBEBFB;padding:10px 40px; }
.user_panel a:link,.user_panel a:visited{ color: #DBEBFB}
.center{ text-align: center}
.right{ text-align: right}
.left{ text-align: left}
.must{ color: #F77979}
.emotion{vertical-align: middle}

/*返回顶部box*/
#topcontrol { padding:0;width:38px;height:38px}

.site_search{ padding-left:230px;}
.site_search p{ float: left}
.site_search_input{height:18px; width: 170px;background: #6EB1E5 url("../image/site_search_input_bg.png") no-repeat; border: 1px solid #0560B7; padding: 2px 2px; color: #fff; border-right-width: 0}
.site_search_button{ background: url("../image/button.gif") no-repeat; width: 74px; height: 24px; padding-left: 32px; border-width: 0; color: #fff; cursor: pointer; padding-top: 3px}

#nav{margin-top: 5px; _margin-top:-11px;height:36px; padding-left: 35px; }
#nav a{margin-top:3px;display: block; float: left; width: 82px;margin-top:7px; text-align: center; height:29px;line-height: 30px;font-size: 14px;color: #fff; font-weight: bold; text-decoration: none; background: url("../image/nav_line.gif") no-repeat right}
#nav a:hover{ text-decoration: underline}
#nav a.nonebg{ background: none}
#nav a.cur:link,#nav a.cur:visited{margin-top:0px;width: 104px; height: 35px; line-height: 40px;background: url("../image/nav_cur_bg.jpg") no-repeat; }

/*关注按钮*/
.markMe{background: url("/st../image/mark_ico.png") no-repeat; padding-left: 35px;border-width:0; width: 90px;height:24px; color: #fff;cursor: pointer; }
.markMe:hover{background-position: 0px -28px}
.markUser{background: url("/st../image/mark_ico.png") no-repeat 0 -56px; padding-left:15px;border-width:0; width: 68px;height:24px; color: #fff;cursor: pointer; }
.markUser:hover{background-position: 0px -84px}
.marked{background: url("/st../image/mark_ico.png") no-repeat 0 -124px; padding-left:18px;border-width:0; width: 76px;height:24px; color: #999;cursor: pointer; }
.marked:hover{color: #666}
.markMutual{background: url("/st../image/mark_ico.png") no-repeat 0 -151px; padding-left:18px;border-width:0; width: 76px;height:24px; color: #999;cursor: pointer; }
.markMutual:hover{color: #666}

.clear{ clear: both}
.nodata{ color: #999}

.ico_group{ background: url("../image/flag.png") no-repeat 0 -1px; padding-left: 15px;height: 16px}
.ico_setting{ background: url("../image/ico_manage.gif") no-repeat 0 -1px; padding-left: 20px;height: 16px}
.ico_email_close{ background: url("../image/user/email.gif") no-repeat; padding-left: 17px}
.ico_email_open{ background: url("../image/user/email_open.gif") no-repeat; padding-left: 17px}
.ico_sound_off{background: url("../image/sound_off.gif") no-repeat;padding-left: 17px}
.ico_sound_on{background: url("../image/sound_on.gif") no-repeat;padding-left: 17px}

a{color:#01478F; font-size: 12px; text-decoration: none}
a:hover{ text-decoration: underline}
.middle{vertical-align:middle}
.middle img{ margin-right: 10px}

.a14 a{ font-size:14px}

.more{ text-align:right; color:#999;}
.more a{ color:#999; font-size: 12px}

.gray{color:#666}
a.gray{ color:#666}
.img_boder{ padding:2px; border:1px solid #eee}
.hide{ display: none}

.foot_bg{ background:url("../image/div_foot_bg.gif") repeat-x; height:12px;}

.input_text{background: #fff url("../image/input_textarea_bg.gif") no-repeat; font-size:12px;height:21px;padding-left:5px;padding-top:3px;padding-top:6px\9;margin: 3px 0; border: 1px solid #ccc;*padding-top: 5px}
.input_text:focus{border-left: 1px solid #999; border-top: 1px solid #999}
.button_blue{background: #005EAC;height:27px;font-size:12px; padding: 4px 15px; text-align: center; border-color: #B8D4E8 #114681 #114681 #B8D4E8; border-width: 1px; color: #FFFFFF; cursor: pointer; margin-right: 10px; *padding: 4px 8px;  }
.button_blue:hover{background: #035298}
.button_gray{background: #eee;height:27px;font-size:12px; padding: 4px 15px; border-color: #f5f5f5 #E0E0E0 #E0E0E0 #f5f5f5; border-width: 1px; color: #333; cursor: pointer;text-align: center; }
.button_disabled{background: #eee;height:27px;font-size:12px; padding: 4px 15px; border-color: #f5f5f5 #E0E0E0 #E0E0E0 #f5f5f5; border-width: 1px; color: #999; cursor: pointer;text-align: center; }
.button_gray2{ background: url("../image/button_gray.gif") no-repeat; width: 73px; height: 23px; border: 0;color: #999; cursor: pointer}
.button_green{ background: url("../image/button_green.gif") no-repeat; width: 73px; height: 23px; border: 0;color: #fff; cursor: pointer}
.button_green2{ background: url("../image/button_green2.gif") no-repeat; width: 117px; height: 34px; border: 0;color: #fff; cursor: pointer; font-weight: bold;  text-align: left;padding-left:25px}
.button_green3{background: #67A54B;height:27px;font-size:12px; padding: 4px 15px; border-color: #95BF82 #3C6F23 #3C6F23 #95BF82; border-width: 1px; color: #FFFFFF; cursor: pointer}
.button_login{background: #005EAC;width:80px;height:27px;font-size:14px; padding: 6px 20px; border-color: #B8D4E8 #114681 #114681 #B8D4E8; border-width: 1px; color: #FFFFFF; cursor: pointer}
.button_register{background:#67A54B;width:80px;height:27px;font-size:14px; padding: 6px 20px;border-width:1px;border-color: #95BF82 #3C6F23 #3C6F23 #95BF82;color: #FFFFFF; cursor: pointer}
.button_orange{background: #f90;height:27px;font-size:12px; padding: 4px 15px; border-color: #f70 #f30 #f30 #f70; border-width: 1px; color: #FFFFFF; cursor: pointer}

/*绿色按钮*/
.greenButton{ background: url("/static/h../image/buttons.png"); border-width: 0; width: 70px;height:24px; color: #fff;cursor: pointer}
.greenButton:hover{ background-position: 0px -26px}
/*小绿色按�?*/
.greenButton2{ background: url("/static/h../image/buttons.png") no-repeat 0px -112px; border-width: 0; width: 50px;height:24px; color: #fff;cursor: pointer}
.greenButton2:hover{ background-position: 0px -137px}
.grayButton2{ background: url("/static/h../image/buttons.png") no-repeat 0px -162px; border-width: 0; width: 50px;height:24px; color: #999;cursor: pointer}
.grayButton2:hover{ background-position: 0px -187px}

.dotted_line{ background: url("../image/dotted_line_bg2.gif") repeat-x bottom; height: 1px; line-height: 1px}
.dotted_line4{ background: url("../image/dotted_line_bg.gif") repeat-x bottom; height: 1px; line-height: 1px}
/*body*/
#body{ width: 950px; background: #FFF; min-height: 420px; margin:0px auto; padding: 10px 10px 50px 10px;_margin-top:-3px;}
.title{font-size:14px; color: #084689; font-weight: bold}

/*公共*/
#sidebar_left{ width: 237px; float: left; background-color: #F6FAFB;}
#main_right{ width: 680px; float: right}

#main_left{ width: 680px; float: left; min-height: 180px;}
#sidebar_right{ width: 237px; float: right;background-color: #F6FAFB;}

.img_border img{ padding: 2px; background: #fff; border: 1px solid #eee}

.sidebar_title{font-size:14px; height:30px; line-height:30px;color: #0D5194; font-weight: bold; background:url("../image/small_title_bg.jpg") no-repeat; border:1px solid #D1E5ED;padding-left: 15px}
.sidebar_title2{ height:32px; width:237px;font-size:14px; color: #0D5194; font-weight: bold; line-height:32px; background:url("../image/sidear_title2.gif") no-repeat; padding-left: 15px}
.sidebar_box{ border: 1px solid #BCDDEA; border-top-width: 0; padding: 10px}

.sidebar_menus li{ background: url("../image/ico_arrow.gif") no-repeat 0 7px;padding-left:12px; height: 24px; line-height: 24px}
.sidebar_menus li a.cur{ font-weight: bold}
/*admin bar*/
#aa_admin_nav{ height: 30px; width: 100%; background: #F1F9FE; margin: 10px 0 0 0}
#aa_admin_nav a:link,#aa_admin_nav a:visited{display: block; float: left; line-height: 30px; padding: 0px 20px; text-decoration: none; color: #444}
#aa_admin_nav a:hover{text-decoration:underline; color: #333;background: #FFFBCC}
#aa_admin_nav a.cur{color: #333;background: #E0F0F7}

#aa_admin_action{ height: 30px;background: #E0F0F7; margin:0px 20px 10px 20px; }
#aa_admin_action a:link,#aa_admin_action a:visited{display: block; float: left; line-height: 30px; padding: 0px 20px; text-decoration: none; color: #444}
#aa_admin_action a:hover{text-decoration:underline; color: #333;}
#aa_admin_action a.cur{color: #333;background: #E0F0F7; font-weight: bold}

/*排行�?*/
ul.ranking{ background: url("../image/topNum.gif") no-repeat}
ul.ranking li{ padding-left: 25px; height: 23px}
ul.ranking li a{ color: #333}

/*内容列表样式*/
.con_list{ margin:10px}
.con_list li{ height:27px;position:relative; background: url("../image/dot1.gif") no-repeat 0 5px;padding-left: 10px}
.con_list li span{ position:absolute; top:0; right:0; color:#999}

.con_small_list{ margin:5px}
.con_small_list li{ height:24px;background:url("../image/dot1.gif") no-repeat 0 5px; padding-left:10px; position:relative}
.con_small_list li span{ position:absolute; top:0; right:0; color:#999}

/*评论列表样式*/
.comments_title{margin: 10px;background: url("../image/comments.png") no-repeat 0 0; font-size:14px; padding-left: 20px;}
#comments_list{ padding:0px;}
#comments_list .one_comment{ margin-bottom: 10px; background: url("../image/dotted_line_bg2.gif") repeat-x 0 bottom; padding:0px 0 20px 0px}
#comments_list .one_cmt_left{ float: left; width: 60px; text-align: center;padding-top: 7px}
#comments_list .one_cmt_right{float:left; text-align: left; margin-left:8px; width:810px;}
#comments_list .user{ color: #999; height: 25px; line-height: 25px}
#comments_list .comment_content{}
#comments_list .topic_tool{ text-align: right; margin-top: 5px}
#comment_form_box .user_face{float:left; width: 70px;}
#comment_form_box .face{padding:2px; border: 1px solid #eee}
#comment_form_box .comment_form{float:left; width:700px;}
#cmt_content{width:800px}

.cmt_quote{ padding:10px; background:#FCFCF2;border: 1px solid #CECE7E;color: #333;font-size:12px;margin:4px; line-height: 1.5em; border-top-width:1px}
.cmt_quote .quote_content{ padding:8px;}
.cmt_quote .quote_name{ color: #626224;margin: 0;padding: 0}
.cmt_quote p{margin:0px;padding:0;font-size:12px}
.cmt_quote a:link,.cmt_quote a:visited{font-size:12px}

.quote_new{ border:1px solid #CECE7E;background:#FCFCF2;font-size:12px; padding:4px; margin-bottom:4px}
.quote_new .quote_author{ margin:0px 5px 0 5px; padding: 0}
.quote_new .quote_name{ float: left;width:80%;color: #666;padding:0px; margin: 0}
.quote_new .quote_floor{ float: right;width:10%; text-align: right;color: #666;padding:0px; margin: 0}
.quote_new .quote_content{ clear: both;color: #333; font-size: 12px; text-align: left;padding:0px 5px; margin:0px 0px 10px 0px}

.ico_quote{ background: url("../image/user/icos.gif") no-repeat 0 -224px; padding-left: 20px}
.ico_reply{background: url("../image/user/icos.gif") no-repeat 0 -265px; padding-left: 20px}
.ico_edit{background: url("../image/user/icos.gif") no-repeat 0 -302px; padding-left: 20px}
.ico_manage{background: url("../image/ico_manage.gif") no-repeat; padding-left: 17px}
.ico_television{background: url("../image/television_add.gif") no-repeat; padding-left: 20px}
.ico_del{background: url("../image/no.png") no-repeat; padding-left: 20px}
.ico_yes{background: url("../image/ico_yes.gif") no-repeat; padding-left: 20px}
.ico_no{background: url("../image/ico_no.gif") no-repeat; padding-left: 20px}

/*tab*/
.blue_tab{ border-bottom: 1px solid #CEE1EE; height: 26px; position: relative}
.blue_tab ul{ position: absolute; top: 0px; left: 20px;}
.blue_tab li{float: left;  margin-right: 10px;text-align:center;}
.blue_tab a{ display: inline-block;  height:25px; line-height: 25px; padding: 0px 18px;background: #E3EEF8; border:1px solid #E3EEF8; border-bottom: 1px solid #CEE1EE;}
.blue_tab a:hover{ background: #EDF5FA}
.blue_tab a.cur{ background: #fff; border: 1px solid #CEE1EE; border-bottom: 1px solid #fff; color: #333}

/*user list*/
.user_list{ padding: 10px 0}
.user_box{float: left; text-align: center; margin-right: 10px; margin-bottom: 10px}

/*user face*/
.user_avatar{    border: 1px solid #f5f5f5;    background-color: #f5f5f5;}
.candyCorner{    -moz-border-radius: 5px;    -khtml-border-radius: 5px;    -webkit-border-radius: 5px;    border-radius: 5px;}
.online{ border: 1px solid #C9E98E;background-color: #C9E98E;}

/*一组头�?*/
.new_user_avatar{ float: left;width: 54px; text-align: left;margin:0 6px 5px 0; height: 80px }
.new_user_avatar .face{ display:block;margin: 0px; padding-top:3px; padding-left: 3px;background:url("../image/avatar_bg_54.png") no-repeat; width: 54px; height: 51px; text-align: left}
.new_user_avatar .face_online{ display:block;margin: 0px; padding:3px 0px 0px 3px;background:url("../image/avatar_bg_54.png") no-repeat 0px -152px; width: 54px; height: 51px;}
.new_user_avatar .face_verify {display:block;margin: 0px;padding: 3px 0px 0px 3px;background:none;width: 51px;height: 51px;border:1px dashed #ccc;-moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px;}
.new_user_avatar .face:hover{ background-position: 0px -79px}
.new_user_avatar .face img{ margin: 0; border-width: 0}
.new_user_avatar .face_online img{ margin: 0; border-width: 0}
.new_user_avatar .name{display:block;margin: 0;text-align: center}
.new_user_avatar .name a:link,.new_user_avatar .name a:visited{font-size:12px}

.notice {padding:.8em;margin-bottom:1.6em;border:2px solid #ddd;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;margin:10px 0; border-width: 1px}
.notice a {color:#514721; background:none; padding:0; margin:0; }

.candy_form_err, .candy_form_success, .candy_form_resp { margin: 10px 0px; padding:5px 10px;-moz-border-radius: 8px;-khtml-border-radius: 8px;-webkit-border-radius: 8px;border: 1px solid;}
.candy_form_err{background:#FDF6D4;color:#52565B;border-color:#EAE3C1;font-size:12px}
.candy_form_success{background:#E6EFC2;color:#264409;border-color:#C6D880;font-size:12px}
.candy_form_resp{background: #f5f5f5;color: #666;border-color: #ccc;font-size:12px;}
.candyCorner{-moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.candyPointer{cursor: pointer;}
.candy-debug{background: #eee; color: #666; line-height: 150%;        padding: 10px; margin: 10px 0 0 0;}
.candy-debug small{font-weight: bold; background: #f5f5f5;}
.candy-debug span{border-bottom: 1px dotted #ccc;}

/* 文字对齐�? */
.candy-tac{ text-align: center;}
.candy-tal{text-align: left;}
.candy-tar{text-align: right;}
.candy-vam{vertical-align: middle;}

.comment_pager{ margin:20px 10px; clear: both; padding: 20px}
.comment_pager .total{background:#f5f5f5; padding:5px 8px; margin-left:3px;color:#666}
.comment_pager, .pics_pager{ text-align:center; clear:both; float:none; margin:10px; }
.comment_pager a, .pics_pager a{ background:#f5f5f5; padding:5px 8px; margin-left:3px;color:#666}
.comment_pager a:hover, .pics_pager a:hover{ background:#DEEAF7; text-decoration: none}
.comment_pager strong, .pics_pager strong{ padding:5px 8px; background:#A2C6EA; color:#fff; margin-left:3px; }

#footer{ height:103px; line-height:1.7em;background:url("../image/footer_bg.gif") repeat-x; text-align:center; padding-top:30px; color:#666}
#footer a{ color:#3E6F9F; margin-right:10px}

#not_authorized{height:150px; text-align: center; color: #333; padding-top: 100px}

.bbs_aa_info{ color: #888}
.bbs_aa_info a:link,.bbs_aa_info a:visited{ color: #666}
.bbs_aa_info a:hover{}

#voteInfo{ width:600px; margin: 0 auto; color: #666; text-align: right;font-size:12px}
#voteBox{ width:600px; margin:6px auto 0px auto; font-size:12px;color:#999;font-family:verdana; padding: 10px 20px; border:1px solid #eee; background: #fff}
#voteBox p{ margin:2px;}
#voteBox label{color:#444;margin:6px 0}
#voteBox div{ background-color:#f9f9f9;height:14px;margin:4px 0px 20px 0; line-height: 14px}
#voteBox div p{  height:12px;width:0px;background-color:#c00;margin:0px; float:left;margin-right:5px;border:1px solid #f9f9f9;}
#voteBox p.no1{  background-color:#74A5BC;border-color:#558BA5}
#voteBox p.no2{  background-color:#6F9B40;border-color:#436C17}
#voteBox p.no3{  background-color:#f60;border-color:#f30}
#voteBox p.no4{  background-color:#5F83C6;border-color:#2C55A5}
#voteBox p.no5{  background-color:#FF0000;border-color:#CC0000;}
#voteBox p.no6{  background-color:#E0E512;border-color:#A7AA1F}
#voteBox p.no7{  background-color:#815AC6;border-color:#552E9B}
#voteBox p.no8{  background-color:#127EB2;border-color:#08557C}
#voteBox p.no9{  background-color:#74A5BC;border-color:#558BA5}
#voteBox p.no10{  background-color:#6F9B40;border-color:#436C17}
#voteBox p.no11{  background-color:#f60;border-color:#f30}
#voteBox p.no12{  background-color:#5F83C6;border-color:#2C55A5}
#voteBox p.no13{  background-color:#FF0000;border-color:#CC0000;}
#voteBox p.no14{  background-color:#E0E512;border-color:#A7AA1F}
#voteBox p.no15{  background-color:#815AC6;border-color:#552E9B}
#voteBox p.no16{  background-color:#127EB2;border-color:#08557C}
#voteBox p.no17{  background-color:#74A5BC;border-color:#558BA5}
#voteBox p.no18{  background-color:#6F9B40;border-color:#436C17}
#voteBox p.no19{  background-color:#f60;border-color:#f30}
#voteBox p.no20{  background-color:#5F83C6;border-color:#2C55A5}
#voteBox p.no21{  background-color:#FF0000;border-color:#CC0000;}
#voteBox p.no22{  background-color:#E0E512;border-color:#A7AA1F}
#voteBox p.no23{  background-color:#815AC6;border-color:#552E9B}
#voteBox p.no24{  background-color:#127EB2;border-color:#08557C}
#voteBox p.no25{  background-color:#74A5BC;border-color:#558BA5}
#voteBox p.no26{  background-color:#6F9B40;border-color:#436C17}
#voteBox p.no27{  background-color:#f60;border-color:#f30}
#voteBox p.no28{  background-color:#5F83C6;border-color:#2C55A5}
#voteBox p.no28{  background-color:#FF0000;border-color:#CC0000;}
#voteBox p.no30{  background-color:#E0E512;border-color:#A7AA1F}
#voteBox p.no31{  background-color:#815AC6;border-color:#552E9B}
#voteBox p.no32{  background-color:#127EB2;border-color:#08557C}
#voteBox p.no33{  background-color:#74A5BC;border-color:#558BA5}
#voteBox p.no34{  background-color:#6F9B40;border-color:#436C17}
#voteBox p.no35{  background-color:#f60;border-color:#f30}
#voteBox p.no36{  background-color:#5F83C6;border-color:#2C55A5}
#voteBox p.no37{  background-color:#FF0000;border-color:#CC0000;}
#voteBox p.no38{  background-color:#E0E512;border-color:#A7AA1F}
#voteBox p.no39{  background-color:#815AC6;border-color:#552E9B}
#voteBox p.no40{  background-color:#127EB2;border-color:#08557C}
#voteBox p.no41{  background-color:#74A5BC;border-color:#558BA5}
#voteBox p.no42{  background-color:#6F9B40;border-color:#436C17}
#voteBox p.no43{  background-color:#f60;border-color:#f30}
#voteBox p.no44{  background-color:#5F83C6;border-color:#2C55A5}
#voteBox p.no45{  background-color:#FF0000;border-color:#CC0000;}
#voteBox p.no46{  background-color:#E0E512;border-color:#A7AA1F}
#voteBox p.no47{  background-color:#815AC6;border-color:#552E9B}
#voteBox p.no48{  background-color:#127EB2;border-color:#08557C}

/*point*/
.pc_l,.pc_c,.pc_inner,.pc_r{width:29px;height:56px;line-height:56px;background:url("../image/popupcredit_bg.gif") no-repeat 0 0;}
.pc_c{width:200px;background-position:0 -56px;background-repeat:repeat-x;}
.pc_inner{white-space:nowrap;text-align:center;width:auto;background-position:50% -112px;}
.pc_inner span{margin-right:15px;color:#FFEA97;font-size:14px;font-weight:700;}
.pc_inner span{display:inline-block;}
.pc_inner span a{color:#FFEA97;text-decoration:underline;}
.pc_inner span em{color:#FFF;font-size:18px;font-weight:400;}
.pc_inner span em.desc{color:#930;}
.pc_btn img{opacity:0.5;}
.pc_btn:hover img{opacity:1;}
.pc_r{background-position:-30px 0;}
.optionbar{float:left;overflow:hidden;margin:3px 4px 0 -6px;background:#09C url("../image/header.gif") repeat-x;height:14px;}
.deloption{float:left;margin:4px;width:12px;height:12px;background:url("../image/close.gif") no-repeat 0 0;overflow:hidden;text-indent:-9999px;}

.eventVote{ float: left; margin: 0;padding: 0}
.eventVote li{float: left;width:18px; height: 18px;background: url("../image/votexx.gif") no-repeat}
.eventVote li:hover{background: url("../image/votexx.gif") no-repeat 0px -31px}
.eventVote li.notselected{background: url("../image/votexx.gif") no-repeat 0px 0px}
.eventVote li.selected{background: url("../image/votexx.gif") no-repeat 0px -31px}

.binding:link,.binding:visited{ width: 131px; height: 41px; display: block; background: url("../image/bingding.png") no-repeat}
.binding:hover{ background-position: 0px -51px}

/*insert zoom*/
.colorboxPic:link,.colorboxPic:visited,.colorboxPic:hover{}

/*评分星星*/
.votescore5{height: 16px;background: url("../image/votexingxingt.png") 0 0; display:-moz-inline-box; display:inline-block; width:100px;}
.votescore4{height: 16px;background: url("../image/votexingxingt.png") 0 -19px; display:-moz-inline-box; display:inline-block; width:100px;}
.votescore3{height: 16px; background: url("../image/votexingxingt.png") 0 -39px; display:-moz-inline-box; display:inline-block; width:100px;}
.votescore2{height: 16px;background: url("../image/votexingxingt.png") 0 -59px; display:-moz-inline-box; display:inline-block; width:100px;}
.votescore1{height: 16px;background: url("../image/votexingxingt.png") 0 -79px; display:-moz-inline-box; display:inline-block; width:100px;}

.go2top { background: url("../image/o_o_go2top.png") no-repeat scroll left top transparent;    bottom: 65px;    color: #444444;    display: none;    height: 50px;right: 60px; margin-left: 510px;position: fixed;text-align: center; width: 50px;z-index: 9999999}
.go2top:hover {background-position: -50px top;}


.logo_tool {
    color:black;
}
.left1 {
    text-align: left;   
}
.top {
    padding-top: 7px;
}
.form-group {
    margin-bottom: 8px;
}
.headsize {
    font-size: 14px;
}
.modal-dialog {
    width: 330px;
    margin: 50px auto;
}
.modal-header {
    padding: 7px;
}
.btn-info {
    border-radius: 2px;
    width: 245px;
}
.checkbox input[type=checkbox] {
    margin-top: 1px;
}
.dropdown-menu {
	margin: 0px;
	min-width: 0px;
}
.user {
	font-size: 12px;
	padding: 0px 12px;
	color: #DBEBFB;
}
#nav1 {
	background: -webkit-linear-gradient(top, #3784cb, #009FE3 5%, #3784cb, #009FE3 95%, #3784cb);
	height: 30px;
	margin-top: 10px;
}
#nav {
	margin-top: 0px;
  height: 30px;
}
#nav a {  
  height: 20px;
  line-height: normal;
}
#header {
	padding-left: 0px;
	padding-right: 0px;
}
.search-btn {
	padding: 1px 6px;
}
.info {
  background: #A2C6EA;
}
.white {
  color: white;
}
.info.focus, .info:focus, .info:hover {
  color: #478fca;
  text-decoration: none;
}
.lab {
  color: #dd5a43;
}
.red {
    color: #dd5a43!important;
}
.bigger-120 {
    font-size: 120%;
}