<div class="container btm1">
	<div class="row clearfix">
		<div class="col-md-12 column">
		<tr>
        <td height="30" colspan="10" bgcolor="#F3F3F3">&nbsp;&nbsp;<strong>友情链接</strong></td>
      </tr>
      <tr>
        <td height="35" colspan="10"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
		  <td width="8%" align="center"><a href="http://www.ruankao.org.cn/" target="_blank" class="buttomlink">软考办</a></td>
            <td width="8%" height="35" align="center"><a href="http://www.cnitpm.com/" target="_blank" class="buttomlink">信管网</a></td>
            <td width="8%" align="center"><a href="http://www.ruantiku.com" target="_blank" class="buttomlink">软题库</a></td>
            <td width="8%" align="center"><a href="http://www.mengyoo.com" target="_blank" class="buttomlink">梦游网</a></td>
            <td width="11%" align="center"><a href="http://www.mypm.net/" target="_blank" class="buttomlink">项目管理联盟</a></td>
           <td width="11%" align="center"><a href="http://www.tup.tsinghua.edu.cn/" target="_blank" class="buttomlink">清华大学出版社</a></td>
		    <td width="19%" align="center"><a href="http://www.cnitpm.com/jc/" target="_blank" class="buttomlink">系统集成项目管理工程师网</a></td>
			
            <td width="9%" align="center"><a href="http://www.c114.net/" target="_blank" class="buttomlink">中国通信网</a></td>
            <td width="8%" align="center"><a href="http://www.netkao.com/" target="_blank" class="buttomlink">网考网</a></td>
            <td width="10%" align="center"><a href="http://www.cena.com.cn/" target="_blank" class="buttomlink">电子信息产业网</a></td>
            <td width="0%"></td>
          </tr>
          <tr>
            <td align="center"><a href="http://www.txks.org.cn" target="_blank" class="buttomlink">通信考试网</a></td>
            <td height="35" align="center"><a href="http://www.cfetiku.com" target="_blank" class="buttomlink">消防题库</a></td>
            <td align="center"><a href="http://peixun.cnitpm.com" target="_blank" class="buttomlink">信管培训</a></td>
            <td align="center"><a href="http://www.cpta.com.cn/" target="_blank" class="buttomlink">人事考试网</a></td>
            <td align="center"><a href="http://www.cfeks.com" target="_blank" class="buttomlink">注册消防考试网</a></td>
            <td align="center"><a href="http://www.cnii.com.cn/" target="_blank" class="buttomlink">中国信息产业网</a></td>
            <td align="center"><a href="http://www.secdoctor.com/" target="_blank" class="buttomlink">中国信息安全博士网</a></td>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
            <td></td>
          </tr>
        </table></td>
        </tr>



</body>
</html>
