    <div  class="container-fluid" id="footer">
      <!-- global/footer_bottom:_footer_bottom -->
      <!--footer-->
      <div class="links">
        <a href="#">关于我们</a>
        <a href="#">档案查询</a>
        <a href="#">意见建议</a>
        <a href="#">隐私声明</a>
        <a href="#">版权申明</a>
      </div>
      联系信箱：xx@xx.edu.cn 地址：xx市xx区xx路xx号xx大学校友总会 邮编：xxxxxx<br>
      xx大学校友总会版权所有 All rights reserved by xx University Alumni Association
      <a href="#">ICP备&nbsp; xx号</a>&nbsp; 
      <a href="#" >公网安备&nbsp; xx号</a><br>为了您的安全及获得最佳浏览体验，建议您使用IE8、Firefox4、Chrom20或更高浏览器&nbsp;&nbsp;
      <!--//footer-->
      </div>
    </div>
  </body>
</html>