    <div  class="container-fluid" id="footer">
      <!-- global/footer_bottom:_footer_bottom -->
      <!--footer-->
      <div class="links">
        <a href="#">关于我们</a>
        <a href="#">档案查询</a>
        <a href="#">意见建议</a>
        <a href="#">隐私声明</a>
        <a href="#">版权申明</a>
      </div>
      联系信箱：xyh@xtu.edu.cn 地址：湖南省湘潭市雨湖区湘潭大学校友总会 邮编：411105<br>
      湘潭大学校友总会版权所有 All rights reserved by xx University Alumni Association
      湘ICP备&nbsp;05005862号&nbsp;&nbsp; 
      <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=43030202001058" target="_blank" >湘公网安备&nbsp;43030202001058号</a><br>为了您的安全及获得最佳浏览体验，建议您使用IE8、Firefox4、Chrom20或更高浏览器&nbsp;&nbsp;
      <!--//footer-->
      </div>
    </div>
  </body>
</html>