<!-- 头部 -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="Shortcut Icon" type="image/x-icon" href="__STATIC__/image/favicon.ico" />
	<title>[title]</title>
	<!-- 引入 Bootstrap -->
	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<!-- 包括所有已编译的插件 -->
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- include summernote -->
    <link type="text/css" rel="stylesheet" href="__STATIC__/summernote/summernote.css" />
    <script type="text/javascript" src="__STATIC__/summernote/summernote.js"></script>
    <script type="text/javascript" src="__STATIC__/summernote/lang/summernote-zh-CN.js"></script>
</head>
<body>