<!-- 左侧栏 -->
<script type="text/javascript">
(function($){ //定义匿名函数并设置形参为$
$(function(){   
    //导航切换
    $("ul li").each(function(){
        if ($(this).attr("id") == $(".ad-list").attr("id")) {
            $("ul li").removeClass("over over2");
            $(this).addClass("over over2");
        }
    });    
});
})(jQuery);
</script>
<div class="col-md-2 column ad-menu" id="ad-menu">
    <div class="ad-logo" style="padding-bottom: 30px;padding-top: 20px;"><!-- <img src="__STATIC__/image/m-logo.png" height="103" width="130"> -->
        <span style="font-size: 25px;color:white;">校友之窗<br/>管理平台</span>
    </div>
    <div class="ad-list" id="{$_c}">
        <ul>
            <li id="News">
                <div class="li-item"><em class="scm li-ico ic1"></em>首页管理<span class="scm arrow"></span></div>
                <dl>
                    <dd>
                        <a href="{:url('news/index')}" class="dd-item">新闻公告管理<span class="scm dd-ar"></span></a>
                    </dd>
                    <dd>
                        <a href="{:url('news/check')}" class="dd-item">招聘/资料审核<span class="scm dd-ar"></span></a>
                    </dd>
                </dl>
            </li>
            <li id="Stu">
                <div class="li-item"><em class="scm li-ico ic2"></em>校友信息管理<span class="scm arrow"></span></div>
                <dl>
                    <dd>
                        <a href="{:url('stu/findStuList')}" class="dd-item">学生信息列表<span class="scm dd-ar"></span></a>
                    </dd>
                    <dd>
                        <a href="{:url('stu/addStu')}" class="dd-item">添加学生信息<span class="scm dd-ar"></span></a>
                    </dd>
                    <dd>
                        <a href="{:url('stu/importStu')}" class="dd-item">批量上传信息<span class="scm dd-ar"></span></a>
                    </dd>
                    <dd>
                        <a href="{:url('stu/check')}" class="dd-item">注册信息审核<span class="scm dd-ar"></span></a>
                    </dd>
                </dl>
            </li>
            <li id="Admin">
                <div class="li-item"><em class="scm li-ico ic3"></em>管理员管理<span class="scm arrow"></span></div>
                <dl>
                    <dd>
                        <a href="{:url('adminer/index')}" class="dd-item">管理员管理<span class="scm dd-ar"></span></a>                                   
                    </dd>
                </dl>
            </li>
            <li id="Activity">
                <div class="li-item"><em class="scm li-ico ic4"></em>活动管理<span class="scm arrow"></span></div>
                <dl>
                    <dd>
                        <a href="{:url('activity/showact')}" class="dd-item">活动管理<span class="scm dd-ar"></span></a>                                   
                    </dd>
                </dl>
            </li>
            <li id="Forum">
                <div class="li-item"><em class="scm li-ico ic5"></em>论坛管理<span class="scm arrow"></span></div> 
                <dl>
                    <dd>
                        <a href="{:url('forum/index')}" class="dd-item">查看帖子<span class="scm dd-ar"></span></a>
                    </dd>
                </dl>                          
            </li>
            <li id="Donation">
                <div class="li-item"><em class="scm li-ico ic6"></em>捐赠管理<span class="scm arrow"></span></div>
                <dl>
                    <dd>
                        <a href="{:url('donation/index')}" class="dd-item">捐赠记录<span class="scm dd-ar"></span></a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-10 column ad-comment-box" id="ad-comment">
    <div class="col-md-12 column ad-top-comment">
        <div class="ad-message">
            <div class="ad-top-left">
                <div class="ad-change-btn scm ad-list-btn"></div>
                <div class="ad-search-box clear">
                    
                </div>
            </div>
            <div class="ad-top-right">
                <div class="ad-notice">
                    
                </div>
                <div class="ad-welcom">
                    <div class="ad-wel-img"><!-- <img src="__STATIC__/image/min_logo.png" height="36" width="36"> --></div>
                    <div class="ad-wel-text">
                        <div class="font-wel">欢迎您！<strong>{$username}</strong></div>
                        <div class="font-wel"><a href="{:url('logout/logout')}"><strong>【退出】</strong></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ad-main-nav-box">
            <ul id="breadcrumbs-three">
                <li title="首页"><a href="javascript:;" class="dot">{$location}</a></li>
            </ul>
            <div class="ad-main-wraper .J_menuItems">
                <ul class="ad-main-list" id="ad-main">
                </ul>
            </div>
        </div>
        <div class="ad-sub-nav-box content-tabs">
            <div class="ad-sub-wraper page-tabs J_menuTabs">
                <ul class="ad-sub-list page-tabs-content">
                    <li class="active J_menuTab" data-id="index_v0.html">{$location}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12 column ad-main-comment J_mainContent pre-scrollable" id="ad-iframe">