<!-- 查看/修改页面 -->
{layout name="layoutself" /}
<link rel="stylesheet" href="__STATIC__/css/self.css" type="text/css"  />

<script type="text/javascript">
$(function(){ 
// 初始化文本编辑器
  $('#editor1').summernote({                    
    minHeight: 300,             
    maxHeight: 500, 
    // width: 1000,       
    focus: false,   
    lang:'zh-CN',
    // 字体
    fontNames: [
      '宋体','楷体','Arial', 'Arial Black', 'Comic Sans MS', 'Courier New',
      'Helvetica Neue', 'Helvetica', 'Impact', 'Lucida Grande',
      'Tahoma', 'Times New Roman', 'Verdana'
    ],
    //工具栏
    toolbar: [
      ['style', ['bold', 'italic', 'underline', 'clear']],
      ['fontname', ['fontname']],
      ['fontsize', ['fontsize']],
      ['color', ['color']],
      ['para', ['ul', 'ol', 'paragraph']],
      ['height', ['height']],
      ['insert', ['link', 'picture']],
      ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
      ['view', ['codeview', 'help']]
    ],
    // 重写图片上传
    callbacks:{  
      onImageUpload: function(files, editor, $editable) {  
        sendFile(files,editor,$editable);  
      }  
    }
  });

  // 图片上传
  function sendFile(files,editor,$editable){
    var formData = new FormData();
    for(f in files){
      formData.append("image", files[f]);
    }
    $.ajax({
      data: formData,
      type: "POST",
      url: "{:url('news/upload_img')}",
      cache: false,
      contentType: false,
      processData: false,
      success: function(data) {
        $('#editor').summernote('editor.insertImage','__STATIC__/uploads/' + data.imagepath);
      },
      error: function() {
        alert("上传文件失败！");
      }
    });
  }

  // 文件上传及文件信息显示
  $('#file').on('change', function(e){
    var name = e.currentTarget.files[0].name;
    $('#file1').val( name );
    var formData = new FormData();
    formData.append("file", $('#file')[0].files[0]); 
    $.ajax({
      data: formData,
      type: "POST",
      url: "{:url('news/upload_file')}",
      cache: false,
      contentType: false,
      processData: false,
      success: function(data) {
        $('#file2').val( data.filepath );
      },
      error: function() {
        alert("上传文件失败！");
      }
    });
  });

  // 标题
  $("#title").blur(function() {
    if ($(this).val() == "" ) {  
          $("#title1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：标题必须填写！");  
          $(this).focus();  
      }  
      else{  
          $("#title1").html(" ");  
      }  
  });

  // 表单验证
  $("form").submit(function(){
    // 标题不为空
    if ($("#title").val() == "" ) {  
      $("#title1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：标题必须填写！");  
      $("#title").focus();  
    }
    // 验证为空，禁止提交
    if ($("#title").val() == "" || $("#categoryid").val() == "") {
      return false;
    } 
  });
});
</script>
<div class="Nsb_layout_r">
  <div class="Nsb_r_title"><a href="/jsxsd/framework/main.jsp">个人中心</a> » {$location} » {$locationNext}</div> 
  <div class="col-sm-12 form-top">
    <?php extract($info); ?>
    <form role="form" method="post" action="{:url('selfcenter/show',['id'=>$articleid])}" enctype="multipart/form-data" class="form-horizontal">
      <input type="hidden" name="articleid" value="{$articleid}">
      <input type="hidden" name="authorid" value="{$authorid}">
        <div class="form-group">
          <label for="categoryid" class="col-sm-2 control-label">类别<b class="lab">*</b>：</label>
          <div class="col-sm-9">
            <select class="form-control" name="categoryid" id="categoryid" disabled>
              <option value="2" {if $categoryid=='2'}selected="selected"{/if}>招聘</option>
              <option value="3" {if $categoryid=='3'}selected="selected"{/if}>资料</option>
            </select>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="form-group">
          <label for="title" class="col-sm-2 control-label">标题<b class="lab">*</b>：</label>
          <div class="col-sm-9">
            <input name="title" type="text" class="form-control" id="title" value="{$title}" />
          </div>
          <div class="col-sm-1 cen" id="title1"></div>
        </div>
        <div class="form-group">
          <label for="abstract" class="col-sm-2 control-label">摘要<b></b>：</label>
          <div class="col-sm-9">
            <textarea name="abstract" class="form-control" id="abstract" value="" style="height:100px;">{$abstract}</textarea>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="form-group">
          <label for="editor1" class="col-sm-2 control-label">内容<b class="lab">*</b>：</label>
          <div class="col-sm-9">
            <textarea name="content" id="editor1" class="form-control"  value="" style="height:100px;">{$content}</textarea>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="form-group">
          <label for="file" class="col-sm-2 control-label">文件<b></b>：</label>
          <div class="col-sm-7">
            <input type="file" name="file" style="position:absolute;clip:rect(0 0 0 0);" id="file">
            <input name="filename" type="text" id="file1" class="form-control" value="{$filename}" readonly />
            <input name="filepath" type="hidden" id="file2" class="form-control" value="{$filepath}" readonly />
          </div>
          <div class="col-sm-3">
            <label for="image" class="btn info white">浏览</label>
          </div>
          <div class="col-sm-6"></div>
        </div>
        <div class="form-group form-actions top-40">
          <label for="submit" class="col-sm-1 control-label">&nbsp;</label>
          <div class="col-sm-offset-9 col-sm-1"><input name="submit" id="submit" type="submit" class="btn info white" value="提交" /></div>
          <div class="col-sm-1"> </div>
        </div>
    </form>
  </div>
</div>
  