{layout name="layoutself" /}
<link rel="stylesheet" href="__STATIC__/css/self.css" type="text/css"  />
<script type="text/javascript">
$(function(){
  // 旧密码
  $("#oldpwd").blur(function() {
    if ($(this).val() == "" ) {  
          $("#oldpwd1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：旧密码必须填写！");  
          $(this).focus();  
      }  
      else{  
          $("#oldpwd1").html(" ");  
      }  
  });
//新密码
  $("#newpwd").blur(function() {
    if ($(this).val() == "" ) {  
          $("#newpwd1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：新密码必须填写！");  
          $(this).focus();  
      }  
      else{  
          $("#newpwd1").html(" ");  
      }  
  });
//确认密码
  $("#confirmpwd").blur(function() {
    if ($(this).val() == "" ) {  
          $("#confirmpwd1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：确认密码必须填写！");  
          $(this).focus();  
      }  
      else{  
          $("#confirmpwd1").html(" ");  
      }  
  });
  
//表单验证
  $("#formtips").submit(function(){   
    // 标题不为空
    if ($("#oldpwd").val() == "") {
      $("#oldpwd1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：请填写旧密码！"); 
      $("#oldpwd").focus();
    }
 // 新密码不为空
    if ($("#newpwd").val() == "") {
      $("#newpwd1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：请填写新密码！"); 
      $("#newpwd").focus();
    }
    // 确认密码不为空
    if ($("#confirmpwd").val() == "") {
      $("#confirmpwd1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：请填写确认密码！"); 
      $("#confirmpwd").focus();
    }
    // 验证为空，禁止提交
    if ($("#oldpwd").val() == "" || $("#newpwd").val() == "" || $("#confirmpwd").val() == "" ) {
      return false;
    } 
  });
});
 </script>
<div id="body" class="container">
<div class="Nsb_layout_r">
	<div class="Nsb_r_title"><a href="/jsxsd/framework/main.jsp">个人中心</a> » 留言信息 » 已收留言</div>
	<!-- 修改密码 -->
	<div class="row clearfix">
	<div class="col-md-12 column">
	<br>
	<form class="form-horizontal" method="post" role="form" action="{:url('stu/updatePwd')}">
				<div class="form-group">
					 <label class="col-sm-2 control-label">登录账号</label>
					<div class="col-sm-10">
						<input type="text" name="studentid" class="form-control self_form_control" id="disabledInput" placeholder="2013190412" disabled />
					</div>
				</div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-2 control-label">旧密码</label>
					<div class="col-sm-10">
						<input class="form-control self_form_control" name="oldpwd" id="oldpwd" type="password"/>
						<div class="col-sm-6 cen" style="margin-left:200px; margin-top:-25px;" id="oldpwd1"></div>
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">新密码</label>
					<div class="col-sm-10">
						<input class="form-control self_form_control" name="newpwd" id="newpwd" type="password"/>
						<div class="col-sm-6 cen" style="margin-left:200px; margin-top:-25px;" id="newpwd1"></div>
					</div>
				</div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-2 control-label">确认新密码</label>
					<div class="col-sm-10">
						<input class="form-control self_form_control" name="confirmpwd" id="confirmpwd" type="password"/>
						<div class="col-sm-6 cen" style="margin-left:200px; margin-top:-25px;" id="confirmpwd1"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						 <button type="submit" class="btn btn-default">保存</button>
						 <button type="reset" class="btn btn-default">重置</button>
					</div>
				</div>
			</form>
</div>
</div>	
</div>
</div>
