
{layout name="layoutself" /}
<link rel="stylesheet" href="__STATIC__/css/self.css" type="text/css"  />
<script type="text/javascript">
$(function(){
  // 姓名
  $("#username").blur(function() {
    if ($(this).val() == "" ) {  
          $("#username1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：姓名必须填写！");  
          $(this).focus();  
      }  
      else{  
          $("#username1").html(" ");  
      }  
  });
//籍贯
  $("#hometown").blur(function() {
    if ($(this).val() == "" ) {  
          $("#hometown1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：籍贯必须填写！");  
          $(this).focus();  
      }  
      else{  
          $("#hometown1").html(" ");  
      }  
  });
//出生日期
  $("#birthday").blur(function() {
    if ($(this).val() == "" ) {  
          $("#birthday1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：出生日期必须填写！");  
          $(this).focus();  
      }  
      else{  
          $("#birthday1").html(" ");  
      }  
  });
//院系
  $("#department").blur(function() {
    if ($(this).val() == "" ) {  
          $("#department1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：院系必须填写！");  
          $(this).focus();  
      }  
      else{  
          $("#department1").html(" ");  
      }  
  });
//专业
  $("#major").blur(function() {
    if ($(this).val() == "" ) {  
          $("#major1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：专业必须填写！");  
          $(this).focus();  
      }  
      else{  
          $("#major1").html(" ");  
      }  
  });
//班级
  $("#class").blur(function() {
    if ($(this).val() == "" ) {  
          $("#class1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：班级必须填写！");  
          $(this).focus();  
      }  
      else{  
          $("#class1").html(" ");  
      }  
  });
//入学年份
  $("#enrollmentdate").blur(function() {
    if ($(this).val() == "" ) {  
          $("#enrollmentdate1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：入学年份必须填写！");  
          $(this).focus();  
      }  
      else{  
          $("#enrollmentdate1").html(" ");  
      }  
  });
//毕业年份
  $("#graduationdate").blur(function() {
    if ($(this).val() == "" ) {  
          $("#graduationdate1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：毕业年份必须填写！");  
          $(this).focus();  
      }  
      else{  
          $("#graduationdate1").html(" ");  
      }  
  });
//手机号码
  $("#cellphone").blur(function() {
    if ($(this).val() == "" ) {  
          $("#cellphone1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：手机号码必须填写！");  
          $(this).focus();  
      }  
      else{  
          $("#cellphone1").html(" ");  
      }  
  });
//表单验证
  $("#formtips").submit(function(){   
    // 姓名不为空
    if ($("#username").val() == "") {
      $("#username1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：请填写姓名！"); 
      $("#username").focus();
    }
 // 籍贯不为空
    if ($("#hometown").val() == "") {
      $("#hometown1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：请填写籍贯！"); 
      $("#hometown").focus();
    }
    // 出生日期不为空
    if ($("#birthday").val() == "") {
      $("#birthday1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：请填写出生日期！"); 
      $("#birthday").focus();
    }
    //院系
    if ($("#department").val() == "") {
        $("#department1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：请填写院系"); 
        $("#department").focus();
      }
    //专业
    if ($("#major").val() == "") {
        $("#major1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：请填写专业！"); 
        $("#major").focus();
      }
    //班级
    if ($("#class").val() == "") {
        $("#class1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：请填写班级！"); 
        $("#class").focus();
      }
    //入学年份
    if ($("#enrollmentdate").val() == "") {
        $("#enrollmentdate1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：请填写入学年份！"); 
        $("#enrollmentdate").focus();
      }
    //毕业年份
    if ($("#graduationdate").val() == "") {
        $("#graduationdate1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：请填写毕业年份！"); 
        $("#graduationdate").focus();
      }
    //手机号码
    if ($("#cellphone").val() == "") {
        $("#cellphone1").html("<i class=\"icon-remove-sign bigger-120 red\"></i>&nbsp;&nbsp;提示：请填写手机号码！"); 
        $("#cellphone").focus();
      }
    // 验证为空，禁止提交
    if ($("#username").val() == "" || $("#hometown").val() == "" || $("#birthday").val() == "" || $("#department").val() == "" ||$("#major").val() == ""||$("#class").val() == "" ||$("#enrollmentdate").val() == "" ||$("#graduationdate").val() == "" ||$("#cellphone").val() == "") {
      return false;
    } 
  });
});
 </script>
<div id="body" class="container">
<div class="Nsb_layout_r">
	<div class="Nsb_r_title"><a href="">个人中心</a> » 留言信息 » 已收留言</div>
	<!-- 修改个人信息 -->
	<div class="row clearfix">
	<div class="col-md-12 column">
	<br>
	<form class="form-horizontal" method="post" action="{:url('stu/modifyInfo',['userid'=>1])}" id="formtips">
	{if !empty($list)}
		<div class="Nsb_r_title">
			<label>*基本信息-------------------------------------------</label>
		</div>
		<br>
				<div class="form-group">
					 <label class="col-sm-2 control-label">学号</label>
					<div class="col-sm-10">
						<input type="text" name="studentid" class="form-control self_form_control" id="disabledInput" value="{$list['studentid']}" disabled />
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">姓名</label>
					<div class="col-sm-10">
						<input type="text" name="username" id="username" class="form-control self_form_control" value="{$list['username']}"  />
						<div class="col-sm-6 cen" style="margin-left:200px; margin-top:-25px;" id="username1"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">性别</label>
					<div class="col-sm-10">
					<input type="radio" value="0">男
					<input type="radio" value="1">女
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">籍贯</label>
					<div class="col-sm-10">
						<input type="text" name="hometown" id="hometown" class="form-control self_form_control" value="{$list['hometown']}"  />
						<div class="col-sm-6 cen" style="margin-left:200px; margin-top:-25px;" id="hometown1"></div>
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">出生日期</label>
					<div class="col-sm-10">
						<input type="text" name="birthday" id="birthday" class="form-control self_form_control" value="{$list['birthday']|date="Y-m-d",###}" />
						<div class="col-sm-6 cen" style="margin-left:200px; margin-top:-25px;" id="birthday1"></div>
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">院系</label>
					<div class="col-sm-10">
						<input type="text" name="department" id="department" class="form-control self_form_control" value="{$list['department']}"  />
						<div class="col-sm-6 cen" style="margin-left:200px; margin-top:-25px;" id="department1"></div>
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">专业</label>
					<div class="col-sm-10">
						<input type="text" name="major" id="major" class="form-control self_form_control" value="{$list['major']}"  />
						<div class="col-sm-6 cen" style="margin-left:200px; margin-top:-25px;" id="major1"></div>
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">班级</label>
					<div class="col-sm-10">
						<input type="text" name="class" id="class" class="form-control self_form_control" value="{$list['class']}"  />
						<div class="col-sm-6 cen" style="margin-left:200px; margin-top:-25px;" id="class1"></div>
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">入学年份</label>
					<div class="col-sm-10">
						<input type="text" name="enrollmentdate" id="enrollmentdate" class="form-control self_form_control" value="{$list['enrollmentdate']}"  />
						<div class="col-sm-6 cen" style="margin-left:200px; margin-top:-25px;" id="enrollmentdate1"></div>
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">毕业年份</label>
					<div class="col-sm-10">
						<input type="text" name="graduationdate" id="graduationdate" class="form-control self_form_control" value="{$list['graduationdate']}"  />
						<div class="col-sm-6 cen" style="margin-left:200px; margin-top:-25px;" id="graduationdate1"></div>
					</div>
				</div>
		<div class="Nsb_r_title">
			<label >*联系方式---------------------------------------</label>
		</div>
		<br>
				<div class="form-group">
					 <label class="col-sm-2 control-label">手机号码</label>
					<div class="col-sm-10">
						<input type="text" name="cellphone" id="cellphone" class="form-control self_form_control" value="{$list['cellphone']}"  />
						<div class="col-sm-6 cen" style="margin-left:200px; margin-top:-25px;" id="cellphone1"></div>
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">QQ账号</label>
					<div class="col-sm-10">
						<input type="text" name="qq" class="form-control self_form_control" value="{$list['qq']}"  />
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">微信账号</label>
					<div class="col-sm-10">
						<input type="text" name="weixin" class="form-control self_form_control" value="{$list['weixin']}"  />
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">现地址</label>
					<div class="col-sm-10">
						<input type="text" name="address" class="form-control self_form_control" value="{$list['address']}"  />
					</div>
				</div>
		<div class="Nsb_r_title">
			<label>*附加信息-----------------------------------------</label>
		</div>
		<br>
				<div class="form-group" >
					<label class="col-sm-2 control-label">毕业去向</label>
					<div class="col-sm-10">
					<select class="form-control self_form_control">
						<option >就业</option>
						<option>继续深造</option>
						<option>创业</option>
					</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">就业方向</label>
					<div class="col-sm-10">
					<select class="form-control self_form_control" >
						<option>IT</option>
						<option>管理类</option>
						<option>营销类</option>
						<option>工程类</option>
						<option>金融</option>
					</select>
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">学习或工作单位</label>
					<div class="col-sm-10">
						<input type="text" name="workplace" class="form-control self_form_control" value="{$list['workplace']}"  />
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">工作职位</label>
					<div class="col-sm-10">
						<input type="text" name="workpost" class="form-control self_form_control" value="{$list['workpost']}"  />
					</div>
				</div>
				<div class="form-group">
					 <label class="col-sm-2 control-label">个人签名</label>
					<div class="col-sm-10">
						<input type="text" name="sign" class="form-control self_form_control" value="{$list['sign']}"  />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">个人爱好</label>
					<div class="col-sm-10">
						<input type="text" name="hobby" class="form-control self_form_control" value="{$list['hobby']}"  />
					</div>
				</div>
				<div class="form-group">
    				<label class="col-sm-2 control-label">个人简介</label>
    				<textarea name="introduction" class="form-control" style="width:300px;" rows="3" value="{$list['introduction']}"></textarea>
  				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						 <button type="submit" class="btn btn-default">保存</button>
						 <button type="reset" class="btn btn-default">重置</button>
					</div>
				</div>
				{/if}
			</form>
</div>
</div>
	
	
</div>
</div>
