
{layout name="layout" /}
<link rel="stylesheet" href="__STATIC__/css/self.css" type="text/css"  />
<div id="body" class="container">

<div id="LeftMenu1_divChildMenu" class="Nsb_layout_l Nsb_l_list">
	<div class="Nsb_l_list_top"></div>
	
			<h4 class="exam_user_exam">留言帖子</h4>
			<ul>			
	
				<li><a  href="/jsxsd/ggly/ysgg_query{:url('index/index')}">已收留言</a></li>
	
				<li><a  href="/jsxsd/ggly/ysly_query">已发帖子</a></li>
	
			</ul>
	
			<h4 class="exam_user_exam">个人信息</h4>
			<ul>			
	
				<li><a class='Nsb_l_list_now' href="{:url('stu/changeSelf',['userid'=>1])}">修改个人信息</a></li>
	
				<li><a class='Nsb_l_list_now' href="{:url('stu/changePwd')}">修改密码</a></li>
	
			</ul>
	
			<h4 class="exam_user_exam">活动信息</h4>
			<ul>			
				<li><a  href="{:url('activity/hasJoinAct',['applicantid'=>1])}">已报名活动</a></li>
				<li><a  href="{:url('activity/hasSetupAct',['userid'=>1])}">已发起活动</a></li>
			</ul>
			<h4 class="exam_user_exam">招聘资料</h4>
			<ul>			
				<li><a  href="{:url('selfcenter/employment',['id'=>$userid])}">已发布招聘信息</a></li>
				<li><a  href="{:url('selfcenter/data',['id'=>$userid])}">已发资料</a></li>	
			</ul>
	
</div>
<div class="Nsb_layout_r">
	<div class="Nsb_r_title"><a href="/jsxsd/framework/main.jsp">个人中心</a> » 留言信息 » 已收留言</div>
	<!-- 已收留言 -->
	<table class="table table-bordered">
				<thead>
					<tr>
						<th>
							序号
						</th>
						<th>
							标题
						</th>
						<th>
							类别
						</th>
						<th>
							发送人
						</th>
						<th>
							发送时间
						</th>
						<th>
							操作
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
						<td>
							Default
						</td>
						<td>
							<button type="button" class="btn btn-default"><a href="{:url('activity/pass',['activityid'=>$v['activityid']])}" >回复</a></button>
						</td>
					</tr>
				</tbody>
			</table>
	<!-- 修改个人信息 -->
	
	<!-- 修改密码 -->
	<!--
	<div class="row clearfix">
	<div class="col-md-12 column">
	<br>
	<form class="form-horizontal" role="form">
				<div class="form-group">
					 <label class="col-sm-2 control-label">登录账号</label>
					<div class="col-sm-10">
						<input type="text" class="form-control self_form_control" id="disabledInput" placeholder="" disabled />
					</div>
				</div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-2 control-label">旧密码</label>
					<div class="col-sm-10">
						<input class="form-control self_form_control" id="inputPassword3" type="password"/>
					</div>
				</div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
					<div class="col-sm-10">
						<input class="form-control self_form_control" id="inputPassword3" type="password"/>
					</div>
				</div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-2 control-label">确认新密码</label>
					<div class="col-sm-10">
						<input class="form-control self_form_control" id="inputPassword3" type="password"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						 <button type="submit" class="btn btn-default">保存</button>
						 <button type="reset" class="btn btn-default">重置</button>
					</div>
				</div>
			</form>
</div>
</div>  -->
<!-- 已参加活动 -->
<!-- 
<br>
<table class="table table-bordered">
				<thead>
					<tr>
						<th>
							序号
						</th>
						<th>
							活动标题
						</th>
						<th>
							活动发起人
						</th>
						<th>
							活动地址
						</th>
						<th>
							活动时间
						</th>
						<th>
							活动状态
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							<a href="{:url('activity/findActDetail',['activityid'=>$v['activityid']])}">TB - Monthly</a>
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
						<td>
							Default
						</td>
						<td>
							Default
						</td>
					</tr>
				</tbody>
			</table> -->
	<!-- 已发起活动 -->		
	
</div>
</div>
